<template>
  <div>
    <s-auth :forms="forms" :register="false" @validate="login"></s-auth>
  </div>
</template>

<script>
export default {
  auth: false,
  name: 'Login',
  layout: 'empty',
  data: () => ({
    show: false,
    forms: [
      {
        name: 'v-text-field',
        props: {
          label: 'Login',
          'single-line': true,
          solo: true,
        },
        field: 'login',
        value: null,
        required: true,
      },
      {
        name: 'v-text-field',
        props: {
          label: 'Mot de passe',
          solo: true,
          rules: ['password'],
        },
        password: true,
        field: 'password',
        value: null,
        required: true,
      },
    ],
  }),
  async created() {
    await this.init()
  },
  methods: {
    async init() {
      if (!this._.isEmpty(this.$route.params)) {
        this.forms[0].value = this.$route.params.login
        this.forms[1].value = this.$route.params.password
        await this.login()
      }
    },
    /**
     * Allows you to connect a user by checking if the information
     * entries are correct or not
     * @returns {Promise<void>}
     */
    async login() {
      if (!this.$formValidate(this.forms)) {
        return
      }
      const data = this.$getDataFromForm(this.forms)
      const response = await this.$auth.loginWith('local', { data })
      if (response) {
        await this.$router.push('/')
      }
    },
  },
}
</script>
