<template>
  <div>
    <v-container fill-height>
      <v-row justify="center" align="center">
        <v-col cols="7" class="text-center">
          <v-card class="pt- mx-auto" flat max-width="600" elevation="6">
            <v-card-text>
              <v-avatar v-if="avatar" size="88">
                <v-img
                  :src="`https://avataaars.io/${avatar}`"
                  class="mb-6"
                ></v-img>
              </v-avatar>
              <h3 class="text-h5 mb-2">
                {{ loggedInUser.firstName + ' ' + loggedInUser.lastName }}
              </h3>
              <v-divider></v-divider>
              <br />
              <v-row
                v-for="(info, i) in information"
                :key="i"
                class="text-left"
              >
                <v-col tag="strong" cols="1">
                  <v-icon>{{ `mdi-${info.icon}` }}</v-icon>
                </v-col>
                <v-col tag="strong" cols="3">
                  {{ `${info.text}:` }}
                </v-col>
                <v-col>
                  {{ info.value ? info.value : 'Non renseigné' }}
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <br />
              <v-spacer />
              <v-btn fab small color="sblue" dark @click="update">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-spacer />
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Profile',
  data: () => ({
    show: true,
    search: '',
    active: [],
    avatar:
      '?accessoriesType=Blank&avatarStyle=Circle&clotheColor=PastelGreen&clotheType=ShirtScoopNeck&eyeType=Wink&eyebrowType=UnibrowNatural&facialHairColor=Black&facialHairType=MoustacheMagnum&hairColor=Platinum&mouthType=Concerned&skinColor=Tanned&topType=Turban',
  }),
  computed: {
    ...mapGetters(['loggedInUser']),
    information() {
      return [
        {
          icon: 'account',
          text: 'Login',
          value: this.loggedInUser.login,
        },
        {
          icon: 'shield-star-outline',
          text: 'Rôle',
          value: this.loggedInUser?.roles?.[0]?.name ?? 'Non renseigné',
        },
        {
          icon: 'at',
          text: 'Email',
          value: this.loggedInUser.email,
        },
        {
          icon: 'cellphone',
          text: 'Mobile',
          value: this.loggedInUser.mobile,
        },
      ]
    },
    forms() {
      return [
        {
          name: 'v-text-field',
          props: {
            label: 'Prénom',
          },
          field: 'firstName',
          value: '',
          required: false,
        },
        {
          name: 'v-text-field',
          props: {
            label: 'Nom',
          },
          field: 'lastName',
          value: '',
          required: true,
        },
        {
          name: 'v-text-field',
          props: {
            label: 'Email',
            rules: ['email'],
          },
          field: 'email',
          value: '',
          required: false,
        },
        {
          name: 'v-text-field',
          props: {
            label: 'mobile',
            rules: ['phoneNumber'],
          },
          field: 'mobileNumber',
          value: '',
          required: false,
        },
      ]
    },
  },

  methods: {
    async update() {
      await this.$bus.$emit('modification-requested', this.selected)
    },
  },
}
</script>
