<template>
  <s-auth
    :forms="forms"
    btn-name="Inscription"
    :reset-password="false"
    :register="false"
    @validate="register"
  />
</template>

<script>
export default {
  auth: false,
  name: 'Register',
  layout: 'empty',
  data: () => ({
    show: false,
    forms: [
      {
        name: 'v-text-field',
        props: {
          label: 'Nom',
          'single-line': true,
          solo: true,
          rules: ['email'],
        },
        field: 'lastName',
        value: null,
        required: true,
      },
      {
        name: 'v-text-field',
        props: {
          label: 'Prenom',
          'single-line': true,
          solo: true,
        },
        field: 'firstName',
        value: null,
        required: true,
      },

      {
        name: 'v-text-field',
        props: {
          label: 'Login',
          'single-line': true,
          solo: true,
        },
        field: 'login',
        value: null,
        required: true,
      },
      {
        name: 'v-text-field',
        props: {
          label: 'Mot de passe',
          solo: true,
          rules: ['password'],
        },
        password: true,
        field: 'password',
        value: null,
        required: true,
      },
    ],
  }),
  methods: {
    /**
     * Allows you to register a new user by checking whether the
     * information entered is correct or not
     * @returns {Promise<void>}
     */
    async register() {
      if (!this.$formValidate(this.forms)) {
        return
      }
      const data = this.$getDataFromForm(this.forms)
      await this.$axios({
        method: 'post',
        url: '/api-name/auth/register',
        data,
      })
      await this.$router.push({
        name: 'authentification-login',
        params: data,
      })
    },
  },
}
</script>
