<template>
  <div>
    <s-auth
      :forms="forms"
      :reset-password="false"
      btn-name="Envoyer"
      @validate="resetPassword"
    />
  </div>
</template>

<script>
export default {
  auth: false,
  name: 'ResetPassword',
  layout: 'empty',
  data: () => ({
    show: false,
    forms: [
      {
        name: 'v-text-field',
        props: {
          label: 'Email',
          'single-line': true,
          solo: true,
          rules: ['email'],
        },
        field: 'email',
        value: null,
        required: true,
      },
      // {
      //   name: 'v-text-field',
      //   props: {
      //     label: 'Login',
      //     'single-line': true,
      //     solo: true,
      //   },
      //   field: 'login',
      //   value: null,
      //   required: true,
      // },
      // {
      //   name: 'v-text-field',
      //   props: {
      //     label: 'Nouveau mot de passe',
      //     solo: true,
      //     rules: ['password'],
      //   },
      //   password: true,
      //   field: 'newPassword',
      //   value: null,
      //   required: true,
      // },
      // {
      //   name: 'v-text-field',
      //   props: {
      //     label: 'Confirmer le nouveau mot de passe',
      //     solo: true,
      //     rules: ['password'],
      //   },
      //   password: true,
      //   field: 'confirmPassword',
      //   value: null,
      //   required: true,
      // },
    ],
  }),
  methods: {
    /**
     * Allows you to create a new password for the user
     * @returns {Promise<void>}
     */
    async resetPassword() {
      if (!this.$formValidate(this.forms)) {
        return
      }
      const data = this.$getDataFromForm(this.forms)
      const response = await this.$axios({
        method: 'post',
        url: '/api-name/auth/reset/passwordByMail',
        data,
      })
      if (response) {
        await this.$router.push('./login')
      }
    },
  },
}
</script>
