<template>
  <div>
    <s-list-template
      ref="template"
      v-model="search"
      :items="items"
      :headers="headers"
      :actions="actions"
      :forms="formsUser"
      :send-mail="false"
      title="utilisateur"
      model="users"
      @reload-data="getUsers"
      @actions="eventAction"
    >
      <template #roles="{ item }">
        <v-chip
          v-for="(role, i) in item.roles"
          :key="i"
          small
          color="sred"
          dark
        >
          {{ role.text }}
        </v-chip>
      </template>
    </s-list-template>
  </div>
</template>

<script>
import ActionsSTable from '~/mixins/data/ActionsSTable'
import Roles from '~/mixins/api/read/Roles'

export default {
  name: 'Administration',
  mixins: [ActionsSTable, Roles],

  data: () => ({
    search: '',
    items: [],
    headers: [
      {
        text: 'id',
        value: 'id',
      },
      {
        text: 'nom',
        value: 'lastName',
      },
      {
        text: 'prenom',
        value: 'firstName',
      },
      {
        text: 'role',
        value: 'roles',
      },
      {
        text: 'login',
        value: 'login',
      },
      {
        text: 'email',
        value: 'email',
      },
      {
        text: 'crée le',
        value: 'createdAt',
        // alignValue: 'center',
      },
      {
        text: 'modifié le',
        value: 'updatedAt',
        // alignValue: 'center',
      },
    ],
    forms: [],
  }),
  computed: {
    formsUser() {
      return [
        ...this.forms,
        {
          name: 'v-autocomplete',
          props: {
            label: 'Rôles',
            multiple: true,
            items: this.roles.map((role) => ({
              text: role.name,
              value: role.id,
            })),
          },
          function: 'getRoles',
          field: 'roles',
          value: null,
          required: true,
        },
      ]
    },
  },
  async created() {
    await Promise.all([this.getUsers(), this.getDatatype()])
    // await this.getUsers()
    // await this.getDatatype()
  },
  methods: {
    async getDatatype() {
      const response = await this.$axios({
        method: 'get',
        url: `/api-name/users/read/datatype/`,
        // properties: {
        //   loading: false,
        //   toast: false,
        // },
      })
      this.forms = this.$initFormData(response.data.values)
    },
    async getUsers() {
      const response = await this.$axios({
        method: 'get',
        url: '/api-name/users/read/all',
      })

      this.items = response.data.values.map((user) => ({
        ...user,
        roles: user.roles.map((role) => ({
          text: role.name,
          value: role.id,
        })),
      }))
    },
    eventAction(action, indexAction, item, indexTable) {
      if (action.field === 'update') {
        this.forms[3].required = false
        this.forms[3].props.hint =
          'Remplir uniquement si vous souhaitez modifier le mot de passe'
      }
    },
  },
}
</script>
