<template>
  <div>
    <s-auth
      :forms="forms"
      :reset-password="false"
      btn-name="Valider"
      @validate="resetPassword"
    />
  </div>
</template>

<!-- @validate="resetPassword" -->
<script>
export default {
  auth: false,
  name: 'ResetPassword',
  layout: 'empty',
  data: () => ({
    show: false,
    forms: [
      {
        name: 'v-text-field',
        props: {
          label: 'Nouveau mot de passe',
          solo: true,
          rules: ['password'],
        },
        password: true,
        field: 'newPassword',
        value: null,
        required: true,
      },
      {
        name: 'v-text-field',
        props: {
          label: 'Confirmer le nouveau mot de passe',
          solo: true,
          rules: ['password'],
        },
        password: true,
        field: 'confirmPassword',
        value: null,
        required: true,
      },
    ],
  }),
  methods: {
    /**
     * Allows you to create a new password for the user
     * @returns {Promise<void>}
     */
    async resetPassword() {
      if (!this.$formValidate(this.forms)) {
        return
      }
      const token = this.$route.params.token
      const data = this.$getDataFromForm(this.forms)
      const response = await this.$axios({
        method: 'post',
        url: `/api-name/auth/recover-password/${token}`,
        data,
      })
      if (response) {
        await this.$router.push('/authentification/login')
      }
    },
  },
}
</script>
