/* stylelint-disable no-descending-specificity */
:root {
  --default-color: #1C426D;
  --default-color-syellow: #E69F0B;
  --default-color-sblue: #2B9B86;
  --default-color-sred: #B41026;
  --default-color-sgreen: #236e33;
}
.text-color {
  color: var(--default-color) !important;
}
.text-red {
  color: var(--default-color-sred) !important;
}
.text-blue {
  color: var(--default-color-sblue) !important;
}
.text-yellow {
  color: var(--default-color-syellow) !important;
}
.text-green {
  color: var(--default-color-sgreen) !important;
}
.card-border{
  border: 2px solid var(--default-color) !important;
}
.card-border-blue{
  border: 2px solid var(--default-color-sblue) !important;
}
.card-border-radius {
  border-radius: 20px !important;
}
.yellow-border {
  border: 1px solid var(--default-color-syellow) !important;
}

.card-title {
  padding: 16px 24px !important;
  text-transform: uppercase;
  color: #000000de !important;
  font: 15px Roboto, sans-serif !important;
}

a{
  text-decoration: none !important;
}

.right-space{
  margin-right: 10px;
}
.bottom-space{
  margin-bottom: 10px;
}
.top-space{
  margin-top: 10px;
}
.large-top-space{
  margin-top: 20px;
}

.large-bottom-space{
  margin-bottom: 20px !important;
}
.xl-bottom-space{
  margin-bottom: 40px !important;
}
.left-space{
  margin-left: 10px;
}
.xl-margin-top {
  margin-top: 100px !important;
}
.xxl-margin-top {
  margin-top: 200px !important;
}
.xxxl-margin-top {
  margin-top: 300px !important;
}
.xl-padding-top {
  padding-top: 100px !important;
}
.xxl-padding-top {
  padding-top: 200px !important;
}
.xxxl-padding-top {
  padding-top: 300px !important;
}
.xxxl-padding-bottom {
  padding-bottom: 300px !important;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lower-case{
  text-transform: none !important;
}

.v-chip .v-chip__content {
  height: auto !important;
}

/* Custom all scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #f6f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(224, 223, 223);
}
@media screen and (max-width: 1600px) {
  h1 {
    font-size: 24px !important;
  }
  h2 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 1400px) {
  h1 {
    font-size: 22px !important;
  }
  h2 {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 20px !important;
  }
  h2 {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 18px !important;
  }
  h2 {
    font-size: 16px !important;
  }
}
