<template>
  <!-- Component SConversion> pour convertir des fichiers -->
  <s-conversion></s-conversion>
</template>

<script>
export default {
  name: 'Index',
  data: () => ({
    buttons: [],
  }),
  computed: {},
  async created() {},
  methods: {},
}
</script>
