<template>
  <div>
    <h1>L'application est en Maintenance</h1>
    <h2>Veuillez nous excuser pour la gène occasionée...</h2>
  </div>
</template>

<script>
export default {
  name: 'Maintenance',
}
</script>
