<template>
  <v-app dark>
    <div class="body" @contextmenu.prevent="openContextMenu">
      <s-layout
        :items="itemsSelected"
        :temporary="false"
        logo="nuxt-logo.png"
        open-sidebar
        sidebar-dark
        logo-middle
        profile
        auth
        notify
      >
        <template #logo-navbar>
          <img
            src="~/static/nuxt-logo.png"
            style="margin-left: -10px"
            width="50"
            class="text-center"
            loading="lazy"
            alt="logo"
            @click="$router.push(part ? part : '/')"
          />
        </template>
        <template #logo-sidebar>
          <br />
          <h1>Adenis Tools</h1>
          <br />
          <img
            src="~/static/nuxt-logo.png"
            width="150"
            class="text-center"
            loading="lazy"
            alt="logo"
            @click="$router.push(part ? part : '/')"
          />
          <div class="divider" />
        </template>
      </s-layout>

      <v-main>
        <nuxt class="main-layout" overlay-opacity="0.15" />
        <s-context-menu ref="menu"> </s-context-menu>
        <v-overlay :value="isLoading"></v-overlay>
        <s-delete-confirmation />
        <s-toast />
        <s-header
          v-if="showminimizeDialog"
          :title="titledialog"
          width="400"
          reduce
          :color="colorDialog"
          class="floating"
          @close="close"
          @maximize="maximize"
        ></s-header>
      </v-main>
    </div>
  </v-app>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import MixinContextMenu from '@/mixins/SContextMenu'
export default {
  name: 'Default',
  mixins: [MixinContextMenu],
  data: () => ({
    isLoading: false,
    showminimizeDialog: false,
    titledialog: '',
    colorDialog: 'default',
    refDialog: '',
    items: [
      // {
      //   icon: 'mdi-apps',
      //   title: 'Dashboard',
      //   to: 'index',
      //   active: true,
      // },
    ],
  }),
  computed: {
    ...mapGetters(['isAuthenticated']),
    ...mapState(['onglets', 'part']),
    itemsSelected() {
      let buffer = this.$arrayCopy(this.items)

      buffer = [
        ...buffer,
        {
          icon: 'mdi-home-group',
          title: 'Formulaire',
          to: 'index',
          active: false,
        },
      ]

      // if (this.isAuthenticated) {
      //   buffer = [
      //     ...buffer,
      //     {
      //       icon: 'mdi-home-group',
      //       title: 'Dashboard',
      //       to: 'index',
      //       active: false,
      //     },
      //     {
      //       icon: 'mdi-account-group',
      //       title: 'Utilisateur',
      //       to: 'administration-utilisateur',
      //       active: false,
      //     },
      //   ]
      // }
      switch (this.part) {
        default:
          return buffer
      }
    },
  },
  created() {
    /**
     * intercepte le message 'is-loading' peut importe de où il est émi
     * et affiche la barre de chargement
     */
    this.$bus.$on('is-loading', (value) => {
      this.isLoading = value
    })
    this.$bus.$on('show-minimize-dialog', (data) => {
      this.titledialog = data.title
      this.colorDialog = data.color
      this.refDialog = data.ref
      this.showminimizeDialog = true
    })
  },
  methods: {
    close() {
      this.showminimizeDialog = false
    },
    maximize() {
      this.showminimizeDialog = false
      this.$bus.$emit('open-dialog-ref', this.refDialog)
    },
  },
}
</script>

<style scoped>
.main-layout {
  padding: 1%;
}

img {
  margin-left: 25%;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
  margin-bottom: -3px;
}

h3 {
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
}

.divider {
  border-bottom: 3px solid white;
  margin: 20px;
}

.body {
  background-color: #f0eeee !important;
  height: 100%;
}

.floating {
  position: fixed;
  right: 30px !important;
  bottom: 1px !important;
}
</style>
