<template>
  <v-app dark>
    <div class="body" @contextmenu.prevent="openContextMenu">
      <v-main>
        <nuxt class="main-layout" overlay-opacity="0.15" />
        <s-context-menu ref="menu"> </s-context-menu>
        <v-overlay :value="isLoading"></v-overlay>
        <s-delete-confirmation />
        <s-toast />
      </v-main>
    </div>
  </v-app>
</template>

<script>
import MixinContextMenu from '~/mixins/SContextMenu'
export default {
  name: 'Empty',
  mixins: [MixinContextMenu],
  data: () => ({
    isLoading: false,
  }),
  created() {
    // intercepts the 'is-loading' message regardless of where it is sent
    this.$bus.$on('is-loading', (value) => {
      this.isLoading = value
    })
  },
}
</script>

<style scoped>
.body {
  background-color: #faf9f9 !important;
  height: 100%;
}
.main-layout {
  padding: 1% 1% 3% 1%;
}
</style>
