<template>
  <div>
    <v-main>
      <v-container>
        <h1>{{ title }}</h1>
        <nuxt-link to="/"> Retourner à la page d'accueil </nuxt-link>
      </v-container>
    </v-main>
  </div>
</template>

<script>
export default {
  name: 'Error',
  layout: 'default',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data: () => ({
    title: '',
  }),
  // Allows you to intercept the error code that appears
  head() {
    const code = this.error.statusCode
    switch (code) {
      case 404:
        this.title = "404 La page demandé n'existe pas"
        break
      case 401:
        this.$router.push('/')
        break
      default:
        this.title = 'Une erreur est survenue'
        break
    }
  },
}
</script>
