<template>
  <div class="wrapper fadeInDown">
    <div id="formContent" class="content">
      <div id="formHeader">
        <img src="~/static/nuxt-logo.png" alt="nuxt-logo" width="280" />
      </div>
      <v-form method="post" @submit.prevent="validate">
        <v-main>
          <v-container class="form">
            <s-form
              v-for="(form, i) in forms"
              :key="i"
              :value="forms[i]"
              :item="form"
              @input="update(i, $event.target.value)"
            ></s-form>
          </v-container>
        </v-main>

        <v-btn color="default" dark type="submit" class="large-bottom-space">
          {{ btnName }}
        </v-btn>
      </v-form>

      <div id="formFooter">
        <nuxt-link class="underlineHover" :to="footer.to">
          {{ footer.text }}
        </nuxt-link>
      </div>
    </div>

    <div v-if="register" id="register" class="content large-top-space">
      <v-row>
        <v-col>
          <p>Pas de compte ?</p>
        </v-col>
        <v-col>
          <nuxt-link class="underlineHover" to="./register">
            Inscrivez-vous !
          </nuxt-link>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import SStyle from '@/mixins/SStyle'
import SForm from '~/components/utils/SForm'
export default {
  name: 'SAuth',
  components: { SForm },
  mixins: [SStyle],
  props: {
    forms: {
      required: true,
      type: Array,
      default: () => [],
    },
    btnName: {
      required: false,
      type: String,
      default: () => 'Connexion',
    },
    resetPassword: {
      required: false,
      type: Boolean,
      default: () => true,
    },
    register: {
      required: false,
      type: Boolean,
      default: () => true,
    },
  },
  data: () => ({
    show: false,
    footer: {
      to: '/authentification/reset-password',
      text: 'Mot de passe oublié ?',
    },
  }),
  mounted() {
    this.init()
  },
  methods: {
    /**
     * Envoie un message au parent pour signaler que le formulaire est rempli
     */
    validate() {
      this.$emit('validate')
    },
    /**
     * Inialise les données du footer
     */
    init() {
      if (!this.resetPassword) {
        this.footer.text = 'Annuler'
        this.footer.to = '/authentification/login'
      }
      this.applyStyle('formContent')
    },
  },
}
</script>

<style scoped>
.form {
  padding-left: 40px;
  padding-right: 40px;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#register {
  padding: 35px 0 25px 0;
}

.content {
  background: #fff;
  position: relative;
  width: 90%;
  max-width: 450px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center !important;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
}

#formHeader {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  padding-top: 5%;
  -webkit-animation-name: fadeindown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Simple CSS3 Fade-in Animation */
.underlineHover::after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: var(--default-color);
  content: '';
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover::after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}
</style>
