<template>
  <v-btn
    v-bind="$props"
    :class="{ 'lower-case': lowerCase }"
    dark
    fab
    elevation="0"
    v-on="$listeners"
  >
    <v-icon>{{ 'mdi-' + iconName }}</v-icon>
  </v-btn>
</template>

<script>
import SBtn from '~/mixins/props/SBtn'
import SDefault from '~/mixins/props/SDefault'

export default {
  name: 'SBtnIcon',
  mixins: [SBtn, SDefault],
  props: {
    iconName: {
      required: true,
      type: String,
    },
    label: {
      required: false,
      type: String,
      default: () => '',
    },
  },
}
</script>
