<template>
  <v-btn
    v-bind="{ ...$props }"
    :class="{ 'lower-case': lowerCase }"
    @click="checkLeft"
    @contextmenu="addContextMenu"
  >
    {{ label }}
    <slot></slot>
  </v-btn>
</template>

<script>
import { mapMutations } from 'vuex'
import SBtn from '@/mixins/props/SBtn'
import SDefault from '@/mixins/props/SDefault'
export default {
  name: 'SBtnRedirect',
  mixins: [SBtn, SDefault],
  props: {
    check: {
      type: Boolean,
      default: () => false,
      required: false,
    },
    urlName: {
      type: String,
      required: false,
      default: () => '',
    },
    params: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  computed: {
    onglets: {
      get() {
        return this.$store.state.onglets
      },
      set(value) {
        this.update({
          key: 'onglets',
          value,
        })
      },
    },
  },
  created() {
    // intercepte le message 'open-in-new-tab' peut importe de où il est émi
    this.$nuxt.$on('open-in-new-tab', (obj) => {
      this.checkContextMenu(obj)
    })
  },
  methods: {
    ...mapMutations(['pushItem', 'update']),
    /**
     * ajoute l'option ouvrir dans un nouvel onglet le context menu
     */
    addContextMenu() {
      const item = {
        text: 'Ouvrir le lien dans un nouvel onglet',
        shortcutKey: '',
        event: 'open-in-new-tab',
        label: this.$vnode.componentInstance.label,
      }
      // envoi un message n'importe où dans l'application
      this.$nuxt.$emit('add-new-item-in-context-menu', item)
    },
    /**
     * Verifie s'il faut faire une verification avant la redirection
     */
    checkLeft() {
      if (this.check) {
        this.$emit('check', this.$vnode.key, 'goTo')
      } else {
        this.goTo()
      }
    },
    /**
     * Verifie s'il faut faire une verification avant la redirection
     */
    checkContextMenu(obj) {
      if (obj.label === this.$vnode.componentInstance.label) {
        if (this.check) {
          this.$emit('check', this.$vnode.key, 'newTab')
        } else {
          this.newTab()
        }
      }
    },
    /**
     * ajoute un nouvel onglet dans la navbar
     */
    newTab(url = '', params = {}) {
      this.pushItem({
        key: 'onglets',
        item: {
          name: this.label,
          to: this.urlName || url,
        },
      })

      this.onglets = [
        ...new Map(this.onglets.map((item) => [item.name, item])).values(),
      ]

      this.update({
        key: 'ongletSelected',
        value: this.onglets.length - 1,
      })
      this.goTo(url, params)
    },
    /**
     * redirige vers la page souhaiter
     * @param url
     * @param params
     */
    goTo(url = '', params = {}) {
      this.$router.push({
        name: this.urlName || url,
        params: this.params || params,
      })
    },
  },
}
</script>

<style scoped>
button.v-btn[disabled] {
  opacity: 1;
  color: var(--default-color) !important;
}
</style>
