<template>
  <v-layout v-resize="onResize">
    <v-btn
      v-bind="{ ...$props }"
      :class="{ 'lower-case': lowerCase }"
      v-on="$listeners"
    >
      <span v-if="!sMobileBreakpoint"> {{ label }}</span>
      <v-icon :right="!sMobileBreakpoint" size="22">{{ iconName }}</v-icon>
    </v-btn>
  </v-layout>
</template>

<script>
import SBtn from '~/mixins/props/SBtn'
import SDefault from '~/mixins/props/SDefault'

export default {
  name: 'SBtnTextIcon',
  mixins: [SBtn, SDefault],
  props: {
    iconName: {
      required: true,
      type: String,
    },
  },
}
</script>
