<template>
  <div>
    <v-tooltip bottom :disabled="tooltip === ''">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="{ ...attrs, ...$props }"
          :class="{ 'lower-case': lowerCase }"
          v-on="{
            ...on,
            ...$listeners,
          }"
        >
          <v-icon v-if="iconName && iconLeft" left>
            {{ 'mdi-' + iconName }}
          </v-icon>
          <slot></slot>
          <v-icon v-if="iconName && !iconLeft" right>
            {{ 'mdi-' + iconName }}
          </v-icon>
        </v-btn>
      </template>
      <span>Tooltip</span>
    </v-tooltip>
  </div>
</template>
<script>
import SBtn from '~/mixins/props/SBtn'
import SDefault from '~/mixins/props/SDefault'

export default {
  name: 'SBtn',
  mixins: [SBtn, SDefault],
  props: {
    iconName: {
      required: false,
      type: String,
      default: () => '',
    },
    label: {
      required: false,
      type: String,
      default: () => '',
    },
    tooltip: {
      required: false,
      type: String,
      default: () => '',
    },
    iconLeft: {
      required: false,
      type: Boolean,
      default: () => false,
    },
  },
}
</script>
