<template>
  <v-layout v-resize="onResize">
    <v-row align="center">
      <v-col
        v-for="(item, index) in items"
        :key="index"
        class="center large-top-space"
        :cols="sMobileBreakpoint ? 12 : ''"
      >
        <v-hover v-slot="{ hover }">
          <v-card
            :elevation="hover ? 15 : 6"
            height="120"
            width="100%"
            class="transparent"
            @click="$router.push(item.to)"
          >
            <v-card-title>
              <v-btn
                :color="item.color ? item.color : 'default'"
                dark
                height="60"
                class="float"
              >
                <v-icon size="35">{{ item.icon }}</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text class="text-right card-text-content">
              <h2 :style="{ color: getColors(item) }">
                {{ item.title.toUpperCase() }}
              </h2>
            </v-card-text>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
export default {
  name: 'SCardHover',
  props: {
    items: {
      required: true,
      type: Array,
    },
  },
  methods: {
    getColors(item) {
      return item.color ? item.color : 'var(--default-color)'
    },
  },
}
</script>

<style scoped>
.card-text-content {
  position: absolute;
  bottom: 0;
  left: 0;
}
.transparent {
  opacity: 0.8;
  border-color: transparent !important;
}
.float {
  float: right;
  position: absolute;
  border-radius: 15% !important;
  margin-top: -5% !important;
}
</style>
