<template>
  <div>
    <v-menu offset-y close-on-content-click>
      <template #activator="{ on, attrs }">
        <v-btn color="grey darken-1" text small dark v-bind="attrs" v-on="on">
          <v-icon :color="smodel"> mdi-invert-colors </v-icon>
        </v-btn>
      </template>
      <v-color-picker
        v-model="smodel"
        width="70"
        hide-canvas
        hide-sliders
        hide-inputs
        show-swatches
        swatches-max-height="300"
      ></v-color-picker>
    </v-menu>
  </div>
</template>
<script>
import SVModel from '~/mixins/SVModel'

export default {
  name: 'SSignature',
  mixins: [SVModel],

  data: () => ({
    options: {
      penColor: '#000',
    },
    menu: false,
  }),
  computed: {
    smodel: {
      get() {
        return this.field instanceof Object ? this.field.value : this.field
      },
      set(v) {
        if (this.field instanceof Object) this.field.value = v
        else this.field = v
      },
    },
  },
}
</script>
