<template>
  <v-card
    v-show="show"
    ref="context"
    dark
    width="400"
    dense
    tile
    class="context-menu"
    :style="style"
    tabindex="0"
    @blur="close"
  >
    <ul id="right-click-menu">
      <li
        v-for="(item, i) in items"
        :key="i"
        :class="{ divider: item.divider }"
        @click="contextMenuAction(item)"
      >
        <v-row justify="space-between" class="item">
          <v-col cols="8" class="item-text">{{ item.text }}</v-col>
          <v-col cols="3" class="item-shortcut-key text-right">
            {{ item.shortcutKey }}
          </v-col>
        </v-row>
      </li>
    </ul>
  </v-card>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'SContextMenu',
  data: () => ({
    selectedItem: 1,

    itemsDefault: [
      {
        text: 'Retour',
        shortcutKey: 'Alt+Gauche',
        event: 'click-on-go-back',
      },
      {
        text: 'Avancé',
        shortcutKey: 'Alt+Gauche',
        event: 'click-on-go-back',
      },
      {
        text: 'Actualiser',
        shortcutKey: 'Alt+Gauche',
        event: 'click-on-reload',
        divider: true,
      },
    ],
    items: [],
    left: 0, // left position
    top: 0, // top position
    show: false, // affect display of context menu
  }),

  computed: {
    // get position of context menu
    style() {
      return {
        top: this.top + 'px',
        left: this.left + 'px',
      }
    },
  },
  created() {
    this.init()
    this.$nuxt.$on('add-new-item-in-context-menu', (item) => {
      this.addItem(item)
    })
    this.$nuxt.$on('click-on-go-back', () => {
      this.back()
    })
    this.$nuxt.$on('click-on-reload', () => {
      location.reload()
    })
  },
  methods: {
    /**
     * Initialise les items par default du context menu
     */
    init() {
      this.items = [...this.itemsDefault]
    },
    /**
     * ferme le context menu
     */
    close() {
      this.show = false
      this.left = 0
      this.top = 0
      this.init()
    },
    /**
     * affiche le context menu
     * @param evt
     */
    open(evt) {
      // updates position of context menu
      this.left = evt.pageX || evt.clientX
      this.top = (evt.pageY || evt.clientY) - window.pageYOffset
      Vue.nextTick(() => this.$el.focus())
      this.show = true
    },
    /**
     * redirige vers la derniere page
     */
    back() {
      this.$router.back()
    },
    /**
     * ajoute un item dans le context menu
     * @param item
     */
    addItem(item) {
      this.items.push(item)
      this.items = this.$getUniqueListBy(this.items, 'text')
    },
    /**
     * Envoi un evenement pour prevenir qu'on a cliqu" sur un item du context
     * menu
     * @param event
     */
    contextMenuAction(item) {
      this.$nuxt.$emit(item.event, item)
      this.close()
    },
  },
}
</script>
<style scoped>
.context-menu {
  position: fixed;
  z-index: 999;
  cursor: pointer;
}
#right-click-menu {
  background: #292a2d;
  border: 1px solid #292a2d;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 380px;
  z-index: 999999;
}

.divider {
  border-bottom: 1px solid #434343;
}
#right-click-menu li {
  margin: 0;
  padding: 5px 20px 5px 35px;
}

#right-click-menu li:last-child {
  border-bottom: none;
}

#right-click-menu li:hover {
  background: #717172;
  color: #fafafa;
}

.item {
  font-weight: normal !important;
  text-decoration: none !important;
  font-family: system-ui !important;
}
.item-text {
  font-size: 12px !important;
}
.item-shortcut-key {
  color: #a1a4a5 !important;
  font-size: 11px !important;
}
</style>
