<!-- eslint-disable valid-typeof -->
<template>
  <s-stepper ref="stepper" :headers="headers" @validate="nextstep">
    <template #step-1>
      <v-row justify="center" align="start">
        <v-col
          v-for="(form, i) in forms"
          :key="i"
          cols="4"
          align-self="center"
          class="mt-5 pa-0"
        >
          <s-form v-model="forms[i]" :item="form"></s-form>
          <v-chip-group
            active-class="light-blue darken-4
                                 white--text"
            column
            class="mb-5 pa-0"
          >
            <v-chip
              v-for="choix in selection"
              :key="choix"
              class="buton"
              :disabled="!selectedBlock"
              @click="selectChoix(choix)"
              ><div v-if="choix === 'XLSX'">Adenis France</div>
              <div v-else>Adenis</div></v-chip
            >
          </v-chip-group>

          <v-file-input
            id="fileInput"
            v-model="selectedFiles"
            label="Drag files here or click to select"
            :accept="acceptFiles()"
            outlined
            :drag-and-drop="true"
            :disabled="!selectedChoix"
            show-size
            style="display: none"
            direction="column"
            height="150"
            @change="uploadFiles"
            @dragover.prevent
            @drop="onDrop"
          >
            <template #selection="{ text }">
              <v-chip color="deep-purple-accent-4" label class="me-2">
                {{ text }}
              </v-chip>
            </template>
          </v-file-input>

          <label for="fileInput">
            <v-card
              :disabled="!selectedChoix"
              class="d-flex flex-column position-relative"
            >
              <v-btn
                color="sred"
                dark
                width="20"
                height="20"
                fab
                class="position-absolute"
                style="top: 10px; left: 515px"
                @click="remove()"
              >
                <v-icon class="align-center justify-center" size="15"
                  >mdi-close</v-icon
                >
              </v-btn>
              <v-card-subtitle v-if="fileName" class="text-center">{{
                fileName
              }}</v-card-subtitle>
              <v-card-subtitle v-else class="text-center"
                >Drag files here or click to select</v-card-subtitle
              >
              <v-icon
                :class="{ selected: selectedFiles }"
                size="150"
                class="align-center justify-center"
              >
                mdi-cloud-download
              </v-icon>
            </v-card>
          </label>
        </v-col>
      </v-row>
    </template>
    <template #step-2>
      <v-row justify="center" align="start">
        <v-col cols="5" align-self="center" class="mt-5 ml-9 pa-0">
          <v-card max-width="800" outlined>
            <v-list-item three-line>
              <v-list-item-content>
                <div v-if="selectedFiles" class="text-overline mb-4">
                  Nom du Fichier : {{ selectedFiles.name }}
                </div>
                <v-list-item-title class="text-h5 mb-5">
                  Information :
                </v-list-item-title>

                <v-list-item-subtitle v-if="selectedChoix"
                  >Type de fichier : {{ selectedChoix }}</v-list-item-subtitle
                >
                <v-list-item-subtitle
                  >Date de la fracturation :
                  {{ formatter(forms[0].value) }}</v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <v-btn outlined rounded text @click="getData(selectedFiles)">
                Convertir en XML
              </v-btn>
            </v-card-actions>

            <span v-if="conversionSuccess" class="success-message"
              >La conversion en XML a été effectuée avec succès !</span
            >
          </v-card>
        </v-col>
      </v-row>
    </template>
    <template #step-3>
      <div>
        <div id="app">
          <ul>
            Liste des Entreprises en erreur :
            <li v-for="error in ErrorArray" :key="error.id">
              <p>
                {{ error.company }}
                <span style="color: red"> Raison : {{ error.error }}</span>
              </p>
            </li>
          </ul>
        </div>
        <v-row justify="center" align="start">
          <v-col cols="5" align-self="center" class="mt-5 ml-9 pa-0">
            <v-card max-width="800" outlined>
              <v-list-item three-line>
                <v-list-item-content>
                  <div v-if="selectedFiles" class="text-overline mb-4">
                    Nom du Fichier : {{ selectedFiles.name }}
                  </div>
                  <v-list-item-title class="text-h5 mb-5">
                    Conversion {{ selectedChoix }} en XML :
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-card-actions>
                <v-btn outlined rounded text @click="ConvertToXML()">
                  Télécharger
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <br />
        <div>
          <table>
            <thead>
              <tr>
                <th>Nom de l'entreprise</th>
                <th>Montant à prélever</th>
                <th>Mandat</th>
                <th>Iban</th>
                <th>BIC</th>
              </tr>
            </thead>
            <tbody v-if="selectedChoix === 'XLSX'">
              <tr v-for="item in dataJson" :key="item[0]">
                <td>{{ item[3] }}</td>
                <td>{{ item[7] }}</td>
                <td>{{ item[10] }}</td>
                <td>{{ item[12] }}</td>
                <td>{{ item[11] }}</td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr v-for="item in newArray" :key="item[0]">
                <td>{{ item[4] }}</td>
                <td>{{ item[8] }}</td>
                <td>{{ item[16] }}</td>
                <td>{{ item[18] }}</td>
                <td>{{ item[17] }}</td>
              </tr>
            </tbody>
          </table>
          <h1>Montant Global : {{ CtrlSum }}</h1>
        </div>
      </div>
    </template>
  </s-stepper>
</template>

<script>
import Papa from 'papaparse'
const XLSX = require('xlsx')
const xmlbuilder = require('xmlbuilder')

export default {
  data: () => ({
    headers: [
      {
        title: 'Infomation',
        icon: 'mdi-account',
      },
      {
        title: 'Conversion',
        icon: 'mdi-approval',
      },
      {
        title: 'Résultat',
        icon: 'mdi-approval',
      },
    ],

    forms: [
      {
        name: 'v-date-picker',
        props: {
          label: 'Date de facturation',
        },
        field: 'field1',
        value: null,
        required: true,
      },
    ],
    selection: ['CSV', 'XLSX'],
    selectedChoix: '',
    selectedFiles: null,
    selectedBlock: true,
    fileName: '',
    isSelecting: false,
    dataJson: null,
    conversionSuccess: false,
    CtrlSum: 0,
    companyCtrlSum: 0,
    count: 0,
    newArray: [],
    nilCounts: 0,
    ErrorArray: [],
  }),

  computed: {
    buttonText() {
      return this.selectedFile
        ? this.selectedFile.name
        : 'Cliquez pour récuperer le fichier'
    },
  },

  methods: {
    sortByString(arr, filterString) {
      arr.sort((a, b) => {
        const stringA = a[4]
        const stringB = b[4]

        if (stringA < stringB) {
          return -1
        } else if (stringA > stringB) {
          return 1
        } else {
          return 0
        }
      })
    },
    uploadFiles() {
      if (this.selectedFiles) {
        this.selectedBlock = false
      } else {
        this.selectedBlock = true
        this.conversionSuccess = false
      }
      if (this.selectedFiles?.name) {
        this.fileName = this.selectedFiles.name
      }
    },
    onDrop(event) {
      event.preventDefault()
      this.selectedFiles = event.dataTransfer.files[0]
      this.uploadFiles()
    },
    selectChoix(choix) {
      if (this.selectedChoix === choix) {
        this.selectedChoix = ''
      } else {
        this.selectedChoix = choix
      }
    },
    acceptFiles() {
      if (this.selectedChoix === 'CSV') {
        return '.csv'
      } else if (this.selectedChoix === 'XLSX') {
        return 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'
      }
    },
    nextstep() {
      const choix = this.selectedChoix
      if (!this.$formValidate(this.forms)) {
        return 1
      } else if (!choix) {
        this.$stoast.error(' Veuillez sélectionner une option valide')
      } else if (!this.selectedFiles) {
        this.$stoast.error('Veuillez sélectionner un fichier à convertir')
      } else if (
        this.$refs.stepper.headers.length === this.$refs.stepper.step
      ) {
        this.remove()
        this.$refs.stepper.reset()
      } else if (!this.conversionSuccess && this.$refs.stepper.step === 2) {
        this.$stoast.error('Veuillez convertir le fichier')
      } else {
        this.$refs.stepper.nextStep()
      }
    },
    getData() {
      this.CtrlSum = 0

      if (this.selectedChoix === 'XLSX') {
        const fileReader = new FileReader()

        fileReader.onload = (e) => {
          const arrayBuffer = e.target.result
          const workbook = XLSX.read(arrayBuffer, { type: 'array' })
          const worksheet = workbook.Sheets[workbook.SheetNames[0]]
          this.dataJson = XLSX.utils.sheet_to_json(worksheet, {
            header: 1,
            raw: false,
          })
          delete this.dataJson[0]
          this.dataJson = this.dataJson.filter((item) => {
            if (item[7] === undefined) {
              this.CtrlSum += 0
              return false
            } else {
              this.CtrlSum += Number(item[7])
              return true
            }
          })
        }
        fileReader.readAsArrayBuffer(this.selectedFiles)
        this.conversionSuccess = true
      } else if (this.selectedChoix === 'CSV') {
        const fileReader = new FileReader()
        fileReader.onload = (e) => {
          Papa.parse(this.selectedFiles, {
            complete: (results) => {
              this.dataJson = results.data
              if (this.dataJson[0][7] === 'Montant TTC') {
                this.dataJson.splice(0, 1)
              }
              this.sortByString(this.dataJson, 4)
              this.dataJson.forEach((item, index) => {
                this.toFloat(this.dataJson[index][8])
                if (index !== this.dataJson.length - 1) {
                  this.toFloat(this.dataJson[index + 1])
                }
                if (item[8].length > 1) {
                  item[8] = this.toFloat(
                    item[8].toString().replace(',', '.').replace(' ', '')
                  )
                }
                if (
                  this.dataJson[index + 1] &&
                  this.dataJson[index + 1][8].length > 1
                ) {
                  this.toFloat(
                    this.dataJson[index + 1][8]
                      .toString()
                      .replace(',', '.')
                      .replace(' ', '')
                  )
                }
                if (index === this.dataJson.length - 1) {
                  this.newArray.push(item)
                } else if (
                  this.dataJson[index][4] === this.dataJson[index + 1][4]
                ) {
                  if (
                    this.dataJson[index][16] !== this.dataJson[index + 1][16] ||
                    this.dataJson[index][17] !== this.dataJson[index + 1][17] ||
                    this.dataJson[index][18] !== this.dataJson[index + 1][18]
                  ) {
                    this.ErrorArray.push({
                      company: 'ERROR GLOBAL',
                      error: 'ERROR GLOBAL ( CONTACTER REOUVEN )',
                    })
                  }
                  this.dataJson[index + 1][8] = (
                    this.toFloat(
                      this.dataJson[index + 1][8]
                        .toString()
                        .replace(',', '.')
                        .replace(' ', '')
                    ) +
                    this.toFloat(
                      this.dataJson[index][8]
                        .toString()
                        .replace(',', '.')
                        .replace(' ', '')
                    )
                  ).toFixed(2)
                } else if (
                  this.dataJson[index][4] !== this.dataJson[index + 1][4] &&
                  this.dataJson[index][8] > 0
                ) {
                  if (this.dataJson[index][8] <= 0) {
                    this.ErrorArray.push({
                      company: item[4],
                      error:
                        'Montant négatif (Supprimer du fichier prelevement)',
                    })
                  } else if (!this.dataJson[index][16]) {
                    this.ErrorArray.push({
                      company: item[4],
                      error:
                        'MANDAT Manquant (Supprimer du fichier prelevement)',
                    })
                  } else if (!this.dataJson[index][17]) {
                    this.ErrorArray.push({
                      company: item[4],
                      error: 'BIC manquant (Supprimer du fichier prelevement)',
                    })
                  } else if (!this.dataJson[index][18]) {
                    this.ErrorArray.push({
                      company: item[4],
                      error: 'IBAN manquant',
                    })
                  } else {
                    this.newArray.push(item)
                  }
                }
              })
              this.newArray.forEach((item, index) => {
                if (item[4].length > 70) {
                  item[4] = item[4].substring(0, 70)
                }
                if (item[8]) {
                  if (item[8] === '0.00') {
                    delete this.newArray[index]
                    this.nilCounts += 1
                  } else {
                    this.CtrlSum += this.toFloat(item[8])
                  }
                }
              })

              this.conversionSuccess = true
            },
            header: false,
            dynamicTyping: false,
            skipEmptyLines: true,
          })
        }
        fileReader.readAsText(this.selectedFiles)
      }
    },
    xlsxBaseXML(data) {
      const xml = xmlbuilder.create(
        {
          Document: {
            '@xmlns': 'urn:iso:std:iso:20022:tech:xsd:pain.008.001.02',
            '@xmlns:xsi': 'http://www.w3.org/2001/XMLSchema-instance',
            CstmrDrctDbtInitn: {
              GrpHdr: {
                MsgId: 'DC1888A4035D4E8AB20AEE8626CE8FE8',
                CreDtTm: '2023-01-19T11:39:05',
                NbOfTxs: this.dataJson.length,
                CtrlSum: this.CtrlSum.toFixed(2),
                InitgPty: {
                  Nm: 'ADENIS FRANCE',
                  Id: {
                    OrgId: {
                      Othr: {
                        Id: '49120989600035',
                        SchmeNm: {
                          Prtry: 'SIRET',
                        },
                      },
                    },
                  },
                },
              },
              PmtInf: {
                PmtInfId: '2302221',
                PmtMtd: 'DD',
                BtchBookg: 'true',
                NbOfTxs: this.dataJson.length,
                CtrlSum: this.CtrlSum.toFixed(2),
                PmtTpInf: {
                  SvcLvl: {
                    Cd: 'SEPA',
                  },
                  LclInstrm: {
                    Cd: 'CORE',
                  },
                  SeqTp: 'RCUR',
                  CtgyPurp: {
                    Cd: 'SUPP',
                  },
                },
                ReqdColltnDt: this.forms[0].value,
                Cdtr: {
                  Nm: 'ADENIS FRANCE',
                },
                CdtrAcct: {
                  Id: {
                    IBAN: 'FR7630004005790001009600349',
                  },
                  Ccy: 'EUR',
                },
                CdtrAgt: {
                  FinInstnId: {
                    BIC: 'BNPAFRPPPBU',
                  },
                },
                ChrgBr: 'SLEV',
                CdtrSchmeId: {
                  Id: {
                    PrvtId: {
                      Othr: {
                        Id: 'FR34ZZZ514759',
                        SchmeNm: {
                          Prtry: 'SEPA',
                        },
                      },
                    },
                  },
                },
                DrctDbtTxInf: data.map((item) => {
                  return {
                    PmtId: {
                      EndToEndId: item[0],
                    },
                    InstdAmt: {
                      '@Ccy': 'EUR',
                      '#text': item[7],
                    },
                    DrctDbtTx: {
                      MndtRltdInf: {
                        MndtId: item[10],
                        DtOfSgntr: '2020-01-10',
                        AmdmntInd: 'false',
                      },
                    },
                    DbtrAgt: {
                      FinInstnId: {
                        BIC: item[11],
                      },
                    },
                    Dbtr: {
                      Nm: item[4],
                      Id: {
                        OrgId: {
                          Othr: {
                            Id: item[9],
                          },
                        },
                      },
                    },
                    DbtrAcct: {
                      Id: {
                        IBAN: item[12],
                      },
                    },
                    RmtInf: {
                      Ustrd: `Fact ${item[0]}`,
                    },
                  }
                }),
              },
            },
          },
        },
        { encoding: 'UTF-8' }
      )
      return xml.end({ pretty: true })
    },
    csvBaseXML(data) {
      const xml = xmlbuilder.create(
        {
          Document: {
            '@xmlns': 'urn:iso:std:iso:20022:tech:xsd:pain.008.001.02',
            '@xmlns:xsi': 'http://www.w3.org/2001/XMLSchema-instance',
            CstmrDrctDbtInitn: {
              GrpHdr: {
                MsgId: '5E750D26ACC24D1A9FEC0A61F5502E8B',
                CreDtTm: '2023-01-16T17:50:27',
                NbOfTxs: this.newArray.length - this.nilCounts,
                CtrlSum: this.CtrlSum.toFixed(2),
                InitgPty: {
                  Nm: 'SAS ADENIS',
                  Id: {
                    OrgId: {
                      Othr: {
                        Id: '42226607200046',
                        SchmeNm: {
                          Prtry: 'SIRET',
                        },
                      },
                    },
                  },
                },
              },
              PmtInf: {
                PmtInfId: '2302151',
                PmtMtd: 'DD',
                BtchBookg: 'true',
                NbOfTxs: this.newArray.length - this.nilCounts,
                CtrlSum: this.CtrlSum.toFixed(2),
                PmtTpInf: {
                  SvcLvl: {
                    Cd: 'SEPA',
                  },
                  LclInstrm: {
                    Cd: 'CORE',
                  },
                  SeqTp: 'RCUR',
                  CtgyPurp: {
                    Cd: 'SUPP',
                  },
                },
                ReqdColltnDt: this.forms[0].value,
                Cdtr: {
                  Nm: 'SAS ADENIS',
                  PstlAdr: {
                    PstCd: '93170',
                    TwnNm: 'BAGNOLET',
                    Ctry: 'FR',
                    AdrLine: '161 avenue Gallieni',
                  },
                },
                CdtrAcct: {
                  Id: {
                    IBAN: 'FR7630004005790001006835849',
                  },
                  Ccy: 'EUR',
                },
                CdtrAgt: {
                  FinInstnId: {
                    BIC: 'BNPAFRPPPBU',
                  },
                },
                ChrgBr: 'SLEV',
                CdtrSchmeId: {
                  Id: {
                    PrvtId: {
                      Othr: {
                        Id: 'FR94ZZZ466440',
                        SchmeNm: {
                          Prtry: 'SEPA',
                        },
                      },
                    },
                  },
                },
                DrctDbtTxInf: data.map((item) => {
                  return {
                    PmtId: {
                      EndToEndId: item[0],
                    },
                    InstdAmt: {
                      '@Ccy': 'EUR',
                      '#text': item[8]
                        ? item[8]
                            .toString()
                            .replace(/\s/g, '')
                            .replace(',', '.')
                        : item[8],
                    },
                    DrctDbtTx: {
                      MndtRltdInf: {
                        MndtId: item[16],
                        DtOfSgntr: '2020-10-01',
                        AmdmntInd: 'false',
                      },
                    },
                    DbtrAgt: {
                      FinInstnId: {
                        BIC: item[17],
                      },
                    },
                    Dbtr: {
                      Nm: item[4]
                        ? item[4].replace(/[^\w\s]/gi, '').replace(/\s+/g, ' ')
                        : item[4],
                    },
                    DbtrAcct: {
                      Id: {
                        IBAN: item[18],
                      },
                    },
                    RmtInf: {
                      Ustrd: `Fact ${item[0]}`,
                    },
                  }
                }),
              },
            },
          },
        },
        { encoding: 'UTF-8' }
      )
      return xml.end({ pretty: true })
    },

    ConvertToXML() {
      if (this.selectedChoix === 'XLSX') {
        const FileName = this.selectedFiles.name.replace('.xlsx', '.xml')

        const XMLData = this.xlsxBaseXML(this.dataJson)

        const xmlBlob = new Blob([XMLData], { type: 'text/xml' })

        const downloadLink = document.createElement('a')
        downloadLink.href = URL.createObjectURL(xmlBlob)
        downloadLink.download = FileName
        document.body.appendChild(downloadLink)

        downloadLink.click()

        document.body.removeChild(downloadLink)
      } else if (this.selectedChoix === 'CSV') {
        console.log(this.newArray)

        const FileName = this.selectedFiles.name.replace('.csv', '.xml')
        const XMLData = this.csvBaseXML(this.newArray)
        const xmlBlob = new Blob([XMLData], { type: 'text/xml' })
        const downloadLink = document.createElement('a')
        downloadLink.href = URL.createObjectURL(xmlBlob)
        downloadLink.download = FileName
        document.body.appendChild(downloadLink)
        downloadLink.click()
        document.body.removeChild(downloadLink)
      }
    },
    remove() {
      this.selectedFiles = null
      this.dataJson = []
      this.selectedBlock = true
      this.fileName = ''
      this.conversionSuccess = false
      this.isLoading = false
    },
    toFloat(value) {
      let data = String(value)
      data = data.replace(',', '.').replace(' ', '')
      return parseFloat(data)
    },
    formatter(value) {
      let isDate = false
      let isFloat = false
      if (value instanceof Date) {
        isDate = true
      } else if (typeof value === 'string' || value instanceof String) {
        isDate = this.$isDate(value)
      } else if (typeof value === 'number' || value instanceof Number) {
        isFloat = !!(value % 1)
      }

      let d = value
      if (isDate) {
        const format = 'YYYY-MM-DD'
        d = this.$moment(value).format(format)
      } else if (isFloat) {
        d = d.toFixed(2)
      }
      return d
    },
  },
}
</script>

<style scoped>
.buton {
  display: flex;
  margin: auto;
  height: 37px;
  padding: 15px;
}

.success-message {
  color: green;
  font-size: 16px;
  text-align: center;
  margin-left: 9px;
}

.selected {
  color: green;
}
</style>
