<template>
  <div>
    <v-card class="ma-0 pa-0">
      <v-card-title class="text-h5">
        <v-tabs v-model="tab" fixed-tabs color="default">
          <v-tab dark>
            <v-icon color="default">mdi-calendar</v-icon>
          </v-tab>

          <v-tab color="default">
            <v-icon>mdi-clock-time-four-outline</v-icon>
          </v-tab>
        </v-tabs>
      </v-card-title>
      <v-card-text class="ma-0 pa-0">
        <h2 class="text-center">{{ title }}</h2>
        <v-tabs-items v-model="tab">
          <v-tab-item :value="0">
            <v-date-picker
              v-model="date"
              no-title
              color="default"
              @input="showTimePicker"
            ></v-date-picker>
          </v-tab-item>
          <v-tab-item :value="1">
            <v-time-picker
              v-model="time"
              no-title
              color="default"
              class="v-time-picker-custom"
            ></v-time-picker>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import SVModel from '~/mixins/SVModel'

export default {
  name: 'SDatetimePicker',
  mixins: [SVModel],
  data: () => ({
    tab: 0,
    display: false,
    date: null,
    time: null,
  }),
  computed: {
    title() {
      if (this.tab === 0) {
        return this.date ? this.$moment(this.date).format('ll') : ''
      } else {
        return this.time ? this.time : ''
      }
    },
  },
  watch: {
    time() {
      this.field = this.$moment(this.date + ' ' + this.time).format(
        'YYYY-MM-DD hh:mm'
      )
    },
  },
  methods: {
    showTimePicker() {
      this.tab = 1
    },
  },
}
</script>
