<template>
  <div>
    <v-dialog v-model="dialog" max-width="350">
      <v-card>
        <v-card-title class="text-h8 text-red">
          Confirmation de suppresion
        </v-card-title>

        <v-card-text>
          êtes-vous sûr de vouloir supprimer {{ text }} ?
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn text @click="dialog = false"> Annuler </v-btn>

          <v-btn color="sred" text @click="validate"> Confirmer </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'SDeleteConfirmation',
  data: () => ({
    dialog: false,
    text: '',
  }),
  created() {
    // intercepte le message 'delete-item' peut importe de où il est émi
    // et affiche un dialog de confirmation
    this.$bus.$on('delete-item', (text) => {
      this.text = text
      this.dialog = true
    })
  },

  methods: {
    validate() {
      this.$bus.$emit('delete-approved')
      this.dialog = false
    },
  },
}
</script>
