<template>
  <v-dialog
    v-model="show"
    persistent
    :width="width"
    :fullscreen="fullscreen"
    :hide-overlay="hideOverlay"
  >
    <v-card
      :heigth="heigth"
      :class="left ? 'floating' : ''"
      :width="width"
      :style="!fullscreen && left ? 'right: 30px !important' : ''"
    >
      <s-header
        :ref-parent="refParent"
        :title="title"
        :color="color"
        @close="close"
        @maximize="maximize"
        @restore="restore"
      ></s-header>
      <v-container v-if="container">
        <slot name="body" />
      </v-container>
      <slot v-else name="body" />
      <v-card-actions>
        <slot v-if="$scopedSlots.actions" name="actions"></slot>

        <v-spacer v-if="!$scopedSlots.actions" />
        <v-btn v-if="!$scopedSlots.actions" text @click="close">
          Annuler
        </v-btn>
        <v-btn
          v-if="!$scopedSlots.actions"
          text
          :color="color"
          dark
          @click="validate()"
        >
          Valider
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import SDefault from '~/mixins/props/SDefault'
import SHeader from '~/components/utils/SHeader'
export default {
  name: 'SDialogtemplate',
  components: { SHeader },
  mixins: [SDefault],
  props: {
    title: {
      type: String,
      default: () => 'Confirmation',
      required: false,
    },
    width: {
      type: [String, Number],
      required: false,
      default: () => '500px',
    },
    heigth: {
      type: [String, Number],
      required: false,
      default: () => '',
    },
    widthToolbar: {
      type: [String, Number],
      required: false,
      default: () => '500px',
    },
    container: {
      type: Boolean,
      required: false,
      default: () => true,
    },
    left: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    hideOverlay: {
      type: Boolean,
      required: false,
      default: () => false,
    },
  },
  data: () => ({
    show: false,
    fullscreen: false,
    refParent: '',
  }),

  methods: {
    open() {
      this.show = true
      let parent = this.$parent
      let child = this
      if (this.$parent.$options.name === 'SMailDialog') {
        parent = this.$parent.$parent
        child = this.$parent
      }
      const entry = Object.entries(parent.$refs).find(
        ([key, value]) => value === child
      )
      if (entry) {
        this.refParent = entry[0]
      }
    },
    restore() {
      this.fullscreen = false
      this.$emit('fullscreen', (this.fullscreen = false))
    },
    maximize() {
      this.$emit('fullscreen', (this.fullscreen = true))
    },
    close() {
      this.show = false
      this.$emit('close')
    },

    validate() {
      this.$emit('validate')
    },
  },
}
</script>
<style scoped>
.floating {
  position: fixed;
  bottom: 1px !important;
}
</style>
