<template>
  <div>
    <v-menu top offset-x>
      <template #activator="{ on, attrs }">
        <v-btn v-bind="attrs" icon v-on="on">
          <v-icon> mdi-emoticon-happy-outline </v-icon>
        </v-btn>
      </template>

      <VEmojiPicker @select="selectEmoji" />
    </v-menu>
  </div>
</template>
<script>
import { VEmojiPicker } from 'v-emoji-picker'
import SVModel from '~/mixins/SVModel'

export default {
  name: 'SEmoji',

  components: {
    VEmojiPicker,
  },
  mixins: [SVModel],
  computed: {
    smodel: {
      get() {
        return this.field instanceof Object ? this.field.value : this.field
      },
      set(v) {
        if (this.field instanceof Object) this.field.value = v
        else this.field = v
      },
    },
  },
  methods: {
    selectEmoji(emoji) {
      if (typeof this.smodel !== 'string') {
        this.smodel = ''
      }
      let tmp = this.smodel
      const sub = tmp.substring(tmp.length - 4, tmp.length)
      if (sub === '</p>') {
        tmp = this.smodel.slice(0, this.smodel.length - 4)
      }
      tmp += ' ' + emoji.data
      this.smodel = tmp
    },
  },
}
</script>
