<template>
  <div>
    <v-row>
      <v-tooltip v-for="(btn, index) in exportType" :key="index" bottom>
        <template #activator="{ on, attrs }">
          <v-btn
            class="left-space"
            icon
            :color="color"
            :dark="dark"
            v-bind="attrs"
            v-on="on"
            @click="show(btn.type)"
          >
            <v-icon large>{{ `mdi-${btn.icon}` }}</v-icon>
          </v-btn>
        </template>
        <span>{{ `Export ${exportType[index].type}` }}</span>
      </v-tooltip>
    </v-row>
    <s-dialog-template
      ref="form"
      color="primary"
      :title="`Nom du fichier ${type}`"
      @validate="exportFile"
    >
      <template #body>
        <v-text-field
          v-model="name"
          color="defaut"
          :label="`Veuillez saisir le nom de l'export du fichier ${type}`"
        ></v-text-field>
      </template>
    </s-dialog-template>
  </div>
</template>

<script>
import JsPDF from 'jspdf'
import autoTable from 'jspdf-autotable'
import XLSX from 'xlsx'
import SDefault from '@/mixins/props/SDefault'

export default {
  name: 'SExport',
  mixins: [SDefault],
  props: {
    pdf: {
      type: Boolean,
      required: false,
      default: true,
    },
    xlsx: {
      type: Boolean,
      required: false,
      default: true,
    },
    csv: {
      type: Boolean,
      required: false,
      default: true,
    },
    array: {
      required: true,
      type: Array,
    },
    headers: {
      required: true,
      type: Array,
    },
    options: {
      required: false,
      type: Object,
      default: () => ({
        title: 'Report',
        format: 'a4',
        orientation: 'l',
      }),
    },
  },

  data: () => ({
    name: '',
    exportType: [],
    type: null,
  }),

  mounted() {
    this.init()
  },

  methods: {
    /**
     * Initialise les diffents types d'export
     */
    init() {
      if (this.xlsx) {
        this.exportType.push({
          type: 'XLSX',
          icon: 'microsoft-excel',
        })
      }
      if (this.pdf) {
        this.exportType.push({
          type: 'PDF',
          icon: 'file-pdf-box',
        })
      }
      if (this.csv) {
        this.exportType.push({
          type: 'CSV',
          icon: 'file-document-outline',
        })
      }
    },
    /**
     * execute la fonction d'export correspondante
     */
    exportFile() {
      this[this.type]()
    },
    show(type) {
      this.type = type
      this.$refs.form.open()
    },
    close() {
      this.$refs.form.close()
    },
    /**
     * export PDF
     * @constructor
     */
    PDF() {
      const columns = this.headers.map(
        ({ text: header, value: dataKey, ...rest }) => ({
          header,
          dataKey,
          ...rest,
        })
      )
      const doc = new JsPDF(this.options.orientation, 'px', this.options.format)

      const totalPagesExp = '{total_pages_count_string}'

      const layout = (data) => {
        // Header
        doc.setFontSize(20)
        doc.setTextColor(40)
        doc.text(this.options.title, data.settings.margin.left + 15, 40)

        // Footer
        let footerStr = 'Page ' + doc.internal.getNumberOfPages()
        footerStr = footerStr + ' sur ' + totalPagesExp
        doc.setDrawColor('#000000')
        doc.line(
          data.settings.margin.left,
          doc.internal.pageSize.height - 40,
          doc.internal.pageSize.width - data.settings.margin.right,
          doc.internal.pageSize.height - 40
        )
        doc.setFontSize(10)
        doc.text(
          footerStr,
          doc.internal.pageSize.width - 100,
          doc.internal.pageSize.height - 30
        )
      }

      autoTable(doc, {
        columns,
        body: this.array,
        ...this.options,
        showHead: 'everyPage',
        margin: { top: 60, bottom: 50 },
        headStyles: {
          fontSize: 11,
        },
        bodyStyles: {
          fontSize: 9,
        },
        didDrawPage: layout,
      })
      doc.putTotalPages(totalPagesExp)
      doc.save(`${this.getName()}.pdf`)
      this.$stoast.success('le fichier à bien été téléchargé')
      this.close()
    },

    /**
     * Export Excel
     * @constructor
     */
    XLSX() {
      // export json to Worksheet of Excel
      // only array possible
      const rowslWS = XLSX.utils.json_to_sheet(this.array)

      // A workbook is the name given to an Excel file
      const wb = XLSX.utils.book_new() // make Workbook of Excel

      // add Worksheet to Workbook
      // Workbook contains one or more worksheets
      XLSX.utils.book_append_sheet(wb, rowslWS, this.name)

      // export Excel file
      XLSX.writeFile(wb, `${this.getName()}.xlsx`)

      this.$stoast.success('le fichier à bien été téléchargé')
      this.close()
    },

    /**
     * Export CSV
     * @constructor
     */
    CSV() {
      let csvContent = 'data:text/csv;charset=utf-8,'
      csvContent += [
        Object.keys(this.array[0]).join(';'),
        ...this.array.map((item) => Object.values(item).join(';')),
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')

      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', `${this.getName()}.csv`)
      link.click()
      this.$stoast.success('le fichier à bien été téléchargé')
      this.close()
    },
    getName() {
      return this.name
    },
  },
}
</script>
