<template>
  <div>
    <v-btn icon @click="onButtonClick">
      <v-badge
        :content="field.length"
        :value="field.length"
        color="sred"
        overlap
      >
        <v-icon>mdi-paperclip</v-icon>
      </v-badge>
      <input
        id="assetsFieldHandle"
        ref="files"
        class="d-none"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.jpg, .jpeg, .png, .mp3, .mp4, .doc, .docx, .svg, .gif, .txt, .pdf, .docs, .xls, .xlsx, .ppt, .pptx, .odp"
        type="file"
        name="fields[assetsFieldHandle][]"
        multiple
        @change="previewFiles"
      />
    </v-btn>
  </div>
</template>
<script>
import SVModel from '~/mixins/SVModel'
import SDefault from '~/mixins/props/SDefault'

export default {
  name: 'SFileUpload',
  mixins: [SVModel, SDefault],
  methods: {
    previewFiles(event) {
      this.field.push(...event.target.files)
    },
    onButtonClick() {
      window.addEventListener('focus', () => {}, { once: true })

      this.$refs.files.click()
    },
  },
}
</script>
