<template>
  <v-layout>
    <div v-if="item.name.includes('datetime')">
      <v-row>
        <v-col cols="7">
          <v-menu
            v-model="showPicker"
            :nudge-top="20"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            min-width="290"
            max-width="290"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="pickerValue"
                v-bind="{
                  ...attrs,
                  ...propsForm,
                }"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="pickerValue"
              v-bind="propsForm"
              no-title
              hide-inputs
              :first-day-of-week="1"
              @input="showPicker = false"
            >
              <template v-if="$scopedSlots.append" #append>
                <slot name="append"></slot>
              </template>
              <template v-if="$scopedSlots.prepend" #prepend>
                <slot name="prepend"></slot>
              </template>
            </v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="5">
          <v-autocomplete
            v-model="hours"
            v-bind="{
              ...propsForm,
              'prepend-icon': 'mdi-clock-outline',
              label: 'hh:mm',
              type: 'text',
            }"
            :items="times"
            clearable
            @change="change()"
          ></v-autocomplete>
        </v-col>
      </v-row>
    </div>
    <v-menu
      v-else-if="item.name.includes('picker')"
      v-model="showPicker"
      :nudge-top="20"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="290"
      max-width="290"
    >
      <template #activator="{ on, attrs }">
        <v-text-field
          v-model="pickerValue"
          v-bind="{
            ...attrs,
            ...propsForm,
          }"
          v-on="on"
        ></v-text-field>
      </template>
      <component
        :is="item.name"
        v-model="pickerValue"
        v-bind="propsForm"
        :type="item.props.type"
        hide-inputs
        no-title
        :first-day-of-week="1"
        @input="closePicker()"
      >
        <template v-if="$scopedSlots.append" #append>
          <slot name="append"></slot>
        </template>
        <template v-if="$scopedSlots.prepend" #prepend>
          <slot name="prepend"></slot>
        </template>
      </component>
    </v-menu>
    <v-combobox
      v-else-if="item.name.includes('emails')"
      v-model="smodel"
      v-bind="propsForm"
      hide-selected
      :search-input.sync="searchMail"
      small-chips
      persistent-hint
      multiple
      :clearable="!$scopedSlots.append"
      @change="change"
    >
      <!-- eslint-disable-next-line vue/no-template-shadow -->
      <template #selection="{ attrs, item, parent, selected }">
        <v-chip :input-value="selected" small v-bind="attrs">
          <span class="pr-2">
            {{ item }}
          </span>
          <v-icon small @click="parent.selectItem(item)">mdi-close</v-icon>
        </v-chip>
      </template>
      <template #no-data>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              Appuyer sur <kbd>enter</kbd> pour ajouter.
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
      <template v-if="$scopedSlots.append" #append>
        <slot name="append"></slot>
      </template>
      <template v-if="$scopedSlots.prepend" #prepend>
        <slot name="prepend"></slot>
      </template>
      <template #message="{ message }">
        <i style="font-size: 11px">{{ message }}</i>
      </template>
    </v-combobox>
    <component
      :is="item.name"
      v-else
      v-model="smodel"
      v-bind="propsForm"
      autocomplete="on"
      :class="item.props['big-label-size'] ? 'big-label-size' : ''"
      :search-input.sync="search"
      @change="change"
      @click:append="show = !show"
    >
      <template v-if="item.name.includes('file')" #selection="{ text }">
        <v-chip small label :color="propsForm.color">
          {{ text }}
        </v-chip>
      </template>
      <template v-if="$scopedSlots.append" #append>
        <slot name="append"></slot>
      </template>
      <template v-if="$scopedSlots.prepend" #prepend>
        <slot name="prepend"></slot>
      </template>
      <template #message="{ message }">
        <i style="font-size: 11px">{{ message }}</i>
      </template>
    </component>
  </v-layout>
</template>

<script>
import SVModel from '~/mixins/SVModel'
export default {
  name: 'SForm',
  mixins: [SVModel],
  props: {
    noLabel: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    readonly: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    clearable: {
      required: false,
      type: Boolean,
      default: () => true,
    },
    item: {
      required: true,
      type: Object,
    },
  },

  data: () => ({
    pickerValue: null,
    name: '',
    show: false,
    showPicker: false,
    searchMail: null,
    search: null,
    parent: null,
    hint: '* Obligatoire',
    loading: false,
    rules: {
      required: (v) => !!v || '* Obligatoire',
      email: (v) =>
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(
          v
        ) || 'veuillez saisir un email valide',
      password: (v) =>
        /^(?=.*[\d])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*])[\w!@#$%^&*]{7,100}$/.test(
          v
        ) ||
        'le mot de passe doit avoir min 7 caractères, 1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spéciale (!@#$%^&*)',
      zipCode: (v) =>
        /^(([0-8][0-9])|(9[0-5]))[0-9]{3}$/.test(v) || 'Il faut 5 chiffres',
      phoneNumber: (v) =>
        /^(0)[1-9][0-9]{8}$/.test(v) || 'veuillez saisir un numéro valide',
    },
    rulesSelected: [],
    times: [],
    hours: null,
  }),
  computed: {
    propsForm() {
      const { type, ...rest } = this.item.props
      const icon = this.getIcon()
      return {
        color: 'default',
        ...(icon
          ? {
              'prepend-icon': `mdi-${icon}`,
            }
          : {}),
        'persistent-hint': true,
        type: this.getType(),
        ...rest,
        ...(this.item.password
          ? {
              'append-icon': this.show ? 'mdi-eye' : 'mdi-eye-off',
              type: this.show ? 'text' : 'password',
            }
          : {}),
        ...(this.item.name === 'v-autocomplete'
          ? {
              placeholder: 'Commencer à écrire pour rechercher...',
              chips: true,
              'small-chips': true,
            }
          : {}),
        ...(this.item.name === 'v-switch'
          ? {
              'true-value': this.item.props['true-value']
                ? this.item.props['true-value']
                : true,
              'false-value': this.item.props['false-value']
                ? this.item.props['true-value']
                : false,
            }
          : {}),
        label: this.label,
        loading: this.loading,
        rules: this.rulesSelected,
        readonly: this.readonly
          ? this.readonly
          : this.item.props.readonly
          ? this.item.props.readonly
          : false,
        clearable: this.clearable,
      }
    },
    label() {
      let tmp = this.item.props.label
      const v = this.field ? this.field.value : null
      if (this.item.required && (!v || (Array.isArray(v) && !v.length))) {
        tmp += ' *'
      }
      return this.noLabel ? '' : tmp
    },
    smodel: {
      get() {
        return this.field instanceof Object ? this.field.value : this.field
      },
      set(v) {
        if (this.field instanceof Object) this.field.value = v
        else this.field = v
      },
    },
  },
  watch: {
    /**
     * execute la fonction parent qui recupere les données d'un v-combobox
     * @returns {Promise<void>}
     */
    async search() {
      if (this.item.props.items.length > 0) return
      if (this.loading) return
      this.loading = true

      await this.parent[this.item.function](this.$vnode.key)

      this.loading = false
    },
    pickerValue() {
      const v =
        this.pickerValue && this.pickerValue.hex
          ? this.pickerValue.hex
          : this.pickerValue
      this.smodel = v
    },

    hours() {
      this.smodel = this.smodel + ' ' + this.hours
      this.change()
    },
    field() {
      this.dateTimeManagement()
    },
  },
  created() {
    this.initTimes()
  },
  mounted() {
    this.addRules()
    this.isAutoComplete()
    this.isAutoComplete()
    this.dateTimeManagement()
  },
  methods: {
    dateTimeManagement() {
      const isValidDate = (dateObject) =>
        new Date(dateObject).toString() !== 'Invalid Date'

      if (this.item.name.includes('date')) {
        const value =
          this.field instanceof Object ? this.field.value : this.field
        if (this.item.props.type === 'month') {
          this.pickerValue =
            value && isValidDate(value)
              ? this.$moment(value).format('YYYY-MM')
              : null
        } else {
          this.pickerValue =
            value && isValidDate(value)
              ? this.$moment(value).format('YYYY-MM-DD')
              : null
        }
      }
      if (this.item.name.includes('time')) {
        const value =
          this.field instanceof Object ? this.field.value : this.field

        this.hours =
          value && isValidDate(value)
            ? this.$moment(value).format('HH:mm')
            : null
      }
    },
    initTimes() {
      this.times = []
      for (let i = 7; i < 20; i++) {
        const start = i < 10 ? 0 : ''
        this.times.push(
          `${start}${i}:00`,
          `${start}${i}:15`,
          `${start}${i}:30`,
          `${start}${i}:45`
        )
      }
    },
    getIcon() {
      const name = this.item.name
      if (this.item.props['hide-icon']) return null
      else if (name.includes('date')) return 'calendar'
      else if (name.includes('color')) return 'invert-colors'
      else if (name.includes('time')) return 'clock-time-four-outline'
      else if (this.item['prepend-icon']) return this.item['prepend-icon']
      else return null
    },
    getType() {
      const name = this.item.name
      const type = this.item.props.type
      if (type === 'year') {
        return ''
      } else if (type === 'month') {
        return 'month'
      } else if (name.includes('date')) {
        return 'date'
      } else if (type) {
        return type
      } else {
        return ''
      }
    },
    change() {
      this.$emit('change')
    },
    /**
     * ajoute les regle nécéssaire au formulaire
     */
    addRules() {
      if (this.item.required) {
        this.rulesSelected.push(this.rules.required)
      }

      if (this.item.props.rules) {
        this.item.props.rules.forEach((rule) => {
          this.rulesSelected.push(this.rules[rule])
        })
      }
    },
    isAutoComplete() {
      if (this.item.function) {
        this.parent = this.$getParent(this.$parent, this.item.function)
      }
    },
    closePicker() {
      this.showPicker = false
      this.change()
    },
  },
}
</script>

<style scoped>
.v-text-field >>> input {
  margin-bottom: 0 !important;
  font-size: 0.9em;
}
.v-text-field >>> input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.v-text-field >>> input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.v-text-field >>> input::-webkit-calendar-picker-indicator {
  margin-left: -10px !important;
  font-size: 0.9em;
}
.v-text-field >>> input[type='week']::-webkit-calendar-picker-indicator,
.v-text-field >>> input[type='month']::-webkit-calendar-picker-indicator,
.v-text-field >>> input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.v-text-field >>> label {
  font-size: 0.9em;
  margin-left: 5px !important;
}

.font-class-name * {
  font-size: 14px;
}
</style>
<style>
.big-label-size label {
  font-size: 24px !important;
}
</style>
