<template>
  <div>
    <v-btn icon @click="$router.push(to)">
      <v-icon size="30">mdi-arrow-left-bold-circle-outline</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'SGoBack',
  props: {
    to: {
      type: String,
      required: true,
      default: () => '/',
    },
  },
}
</script>
