<template>
  <div>
    <v-card>
      <v-card-text>
        <v-layout v-resize="onResize">
          <v-row align="center">
            <v-col cols="6" sm="3" md="3" lg="4" xl="3">
              <h1>{{ title }}</h1>
            </v-col>
            <v-spacer />
            <v-col cols="1" sm="4" md="3" lg="3" xl="3">
              <v-row>
                <v-spacer />
                <v-btn
                  v-if="!disableAdd"
                  height="40"
                  color="sblue"
                  dark
                  :icon="sMobileBreakpoint ? true : false"
                  elevation="0"
                  :style="{ sMobileBreakpoint: 'margin-left: 60px' }"
                  @click="addEvent"
                >
                  {{ titleBtn }}
                  <s-btn-icon
                    v-if="sMobileBreakpoint"
                    x-small
                    color="sblue"
                    icon-name="plus"
                  ></s-btn-icon>
                </v-btn>
              </v-row>
            </v-col>
            <v-col cols="5" sm="3" md="3" lg="4" xl="5">
              <s-search v-model="field" outlined></s-search>
            </v-col>
            <v-col v-if="!sMobileBreakpoint" sm="2" md="1" lg="1" xl="1">
              <v-row>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template #activator="{ on, attrs }">
                    <s-btn-icon
                      v-if="quickAdd && !disableAdd"
                      x-small
                      color="syellow"
                      icon-name="lightning-bolt"
                      v-bind="attrs"
                      v-on="on"
                      @click="quickAddEvent"
                    ></s-btn-icon>
                  </template>
                  <span>Ajout rapide</span>
                </v-tooltip>
                <v-divider v-if="!disableAdd" vertical class="divider-custom" />
                <v-tooltip bottom>
                  <template #activator="{ on, attrs }">
                    <s-btn-icon
                      v-if="setting"
                      :class="[quickAdd ? 'space' : '']"
                      x-small
                      :color="'#595858'"
                      icon-name="cog"
                      v-bind="attrs"
                      v-on="on"
                      @click="addEvent"
                    ></s-btn-icon>
                  </template>
                  <span>Réglages</span>
                </v-tooltip>
                <v-spacer></v-spacer>
              </v-row>
            </v-col>
          </v-row>
        </v-layout>
        <br />
        <v-divider></v-divider>
        <br v-if="$scopedSlots.end" />
        <slot name="end"></slot>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import SVModel from '~/mixins/SVModel'

export default {
  name: 'HeaderTable',
  mixins: [SVModel],
  props: {
    title: {
      type: String,
      required: true,
    },
    titleBtn: {
      type: String,
      required: true,
    },
    quickAdd: {
      type: Boolean,
      required: false,
      default: () => true,
    },
    disableAdd: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    setting: {
      type: Boolean,
      required: false,
      default: () => true,
    },
  },
  methods: {
    addEvent() {
      this.$emit('btn-add')
    },
    quickAddEvent() {
      this.$emit('btn-quick-add')
    },
  },
}
</script>
<style scoped>
.divider-custom {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
</style>
