<template>
  <v-toolbar dark :color="color" dense text height="40" :width="width">
    <v-toolbar-title>
      <span class="title">
        {{ title }}
      </span>
    </v-toolbar-title>
    <v-spacer />
    <v-tooltip v-for="(btn, i) in btnIcons" :key="i" bottom>
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          icon
          small
          v-on="on"
          @click.native="handler(btn.function)"
        >
          <v-icon size="16">{{ `mdi-${btn.icon}` }}</v-icon>
        </v-btn>
      </template>
      <span>{{ btn.tooltip }}</span>
    </v-tooltip>
  </v-toolbar>
</template>

<script>
import SDefault from '~/mixins/props/SDefault'

export default {
  name: 'SHeader',
  mixins: [SDefault],
  props: {
    title: {
      required: false,
      type: String,
      default: () => 'Confirmation',
    },
    color: {
      type: String,
      required: false,
      default: () => 'default',
    },
    refParent: {
      type: String,
      required: false,
      default: () => '',
    },
    reduce: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    width: {
      type: [String, Number],
      required: false,
      default: () => '',
    },
  },
  data: () => ({
    expand: false,
  }),
  computed: {
    btnIcons() {
      const windowMinimize = [
        {
          icon: 'window-minimize',
          tooltip: 'Réduire',
          function: 'minimize',
        },
      ]
      const windowMaximize = [
        {
          icon: 'window-maximize',
          tooltip: 'Agrandir',
          function: 'maximize',
        },
      ]
      const windowRestore = [
        {
          icon: 'window-restore',
          tooltip: 'reduire',
          function: 'restore',
        },
      ]
      return [
        ...(!this.reduce ? windowMinimize : []),
        ...(this.expand ? windowRestore : windowMaximize),
        {
          icon: 'close',
          tooltip: 'Fermer',
          function: 'close',
        },
      ]
    },
  },
  methods: {
    close() {
      this.$emit('close')
    },
    maximize() {
      this.expand = true
      this.$emit('maximize')
    },
    restore() {
      this.expand = false
      this.$emit('restore')
    },
    minimize() {
      const data = {
        title: this.title,
        color: this.color,
        ref: this.refParent,
      }
      this.$bus.$emit('show-minimize-dialog', data)
      this.$emit('close')
    },
  },
}
</script>
<style scoped>
.title {
  font-size: 15px !important;
}
</style>
