<template>
  <div>
    <v-navigation-drawer
      v-if="sidebar"
      v-model="open"
      v-click-outside="disablePermanent"
      class="elevation-2 sidebar"
      :temporary="temporary"
      :permanent="permanent"
      :clipped="clipped"
      :style="{ backgroundColor: sidebarBackground }"
      :dark="sidebarDark"
      app
    >
      <div class="logo">
        <slot name="logo-sidebar"></slot>
      </div>
      <v-list :dense="sHeightLargeBreakpoint">
        <div v-for="(item, i) in items" :key="i">
          <v-list-group
            v-if="!!item.child"
            v-model="item.active"
            :class="{ 'list-group': item.active }"
            :prepend-icon="item.icon"
            active-class="sidebar-child-active"
            no-action
            @click="indexGroup(item)"
          >
            <template #activator>
              <v-list-item-title>
                {{ item.title.toString().toUpperCase() }}
              </v-list-item-title>
            </template>

            <v-list-item
              v-for="(subItem, j) in item.child"
              :key="j"
              router
              exact
              active-class="sidebar-child"
              @click="onClickChild(item, subItem)"
            >
              <v-list-item-title
                v-text="subItem.title.toString().toUpperCase()"
              />
            </v-list-item>
          </v-list-group>
          <v-list-item v-else v-model="item.active" exact @click="newTab(item)">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title v-text="item.title.toString().toUpperCase()" />
          </v-list-item>
        </div>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app class="nav-bar">
      <v-app-bar-nav-icon
        v-if="sidebar"
        color="default"
        @click.stop="open = !open"
      />
      <div class="logo little-space">
        <slot name="logo-navbar"></slot>
      </div>
      <v-icon
        v-if="pages.length && !sMobileBreakpoint"
        style="margin-top: 2px"
        color="default"
        size="25"
      >
        mdi-chevron-right
      </v-icon>
      <v-breadcrumbs
        v-if="!sMobileBreakpoint"
        :items="pages"
        large
        style="margin-left: -15px; margin-top: 2px"
      >
        <template #divider>
          <v-icon color="default" size="25">mdi-chevron-right</v-icon>
        </template>
        <template #item="{ item }">
          <v-breadcrumbs-item :to="item.href" exact>
            <span class="text-color">
              {{ $firstLetterUppercase(item.text) }}
            </span>
          </v-breadcrumbs-item>
        </template>
      </v-breadcrumbs>
      <v-spacer></v-spacer>
      <slot name="middle"></slot>
      <v-spacer></v-spacer>
      <slot name="end"></slot>
      <v-btn v-if="notify" icon>
        <v-badge
          :content="nbNotify"
          :color="nbNotify ? 'sred' : 'transparent'"
          overlap
        >
          <v-icon size="20" color="default">mdi-bell</v-icon>
        </v-badge>
      </v-btn>
      <v-menu left bottom offset-y>
        <template #activator="{ on, attrs }">
          <v-btn
            :height="40"
            :text="!attrs['aria-expanded'] ? false : true"
            color="default"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon left size="25">mdi-account-circle</v-icon>
            <!-- {{ loggedInUser.lastName + ' ' + loggedInUser.firstName }} -->
            <v-icon>mdi-menu-down</v-icon>
          </v-btn>
        </template>

        <v-list :subheader="false">
          <div v-for="(item, index) in itemsProfile" :key="index">
            <v-list-item flat @click="handler(item.function)">
              <v-list-item-content>
                <v-list-item-title>{{ item.text }}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-icon left>{{ item.icon }}</v-icon>
              </v-list-item-action>
            </v-list-item>
            <v-divider
              v-if="index + 1 < itemsProfile.length"
              :key="`key-${index}`"
              light
            />
          </div>
        </v-list>
      </v-menu>
      <v-progress-linear
        :active="isLoading"
        :indeterminate="isLoading"
        absolute
        bottom
        color="sblue"
      ></v-progress-linear>
      <template v-if="$scopedSlots.expension" #extension>
        <slot name="expension"></slot>
      </template>
    </v-app-bar>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex'

export default {
  name: 'SLayout',
  props: {
    sidebar: {
      type: Boolean,
      required: false,
      default: () => true,
    },
    clipped: {
      type: Boolean,
      required: false,
      default: () => true,
    },
    sidebarBackground: {
      type: String,
      required: false,
      default: () => 'var(--default-color)',
    },
    sidebarDark: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    openSidebar: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    temporary: {
      type: Boolean,
      required: false,
      default: () => true,
    },
    auth: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    profile: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    notify: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    showLogoNavbar: {
      type: Boolean,
      required: false,
      default: () => true,
    },
    logoMiddle: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    openInNewTab: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    items: {
      type: Array,
      required: false,
      default: () => [],
    },
  },
  data: () => ({
    permanent: false,
    open: false,
    isLoading: false,
  }),
  computed: {
    ...mapGetters(['loggedInUser']),
    ...mapState(['part']),
    onglets: {
      get() {
        return this.$store.state.onglets
      },
      set(value) {
        this.update({
          key: 'onglets',
          value,
        })
      },
    },
    pages() {
      return this.$store.state.pages
    },
    nbNotify() {
      return this.$store.state.nbNotify
    },
    itemsProfile() {
      const auth = [
        {
          icon: 'mdi-power',
          text: 'Déconnexion',
          function: 'logout',
        },
      ]
      const profile = [
        {
          icon: 'mdi-account',
          text: 'Mon Profile',
          function: 'myProfile',
        },
      ]
      const selection = [
        {
          icon: 'mdi-account-convert-outline',
          text: 'changer de partie',
          function: 'redirect',
        },
      ]
      return [
        ...(this.profile ? profile : []),
        ...(this.part ? selection : []),
        ...(this.auth ? auth : []),
      ]
    },
  },
  watch: {
    open() {
      this.close()
    },
  },
  created() {
    // intercepte le message 'is-loading' peut importe de où il est émi
    this.$bus.$on('is-loading', (value) => {
      this.isLoading = value
    })
    this.open = this.openSidebar
  },
  methods: {
    ...mapMutations(['unshiftItem', 'update']),
    /**
     * Ferme tout les onglet "enfant" de la sidebar
     */
    close() {
      this.items.forEach((item) => {
        item.active = false
      })
    },
    onClickChild(item, subItem) {
      this.disablePermanent()
      this.open = false
      this.$router.push({
        name: `${this.part}${this.part && item.to ? '-' : ''}${item.to}-${
          subItem.to
        }`,
        param: {},
      })
    },
    disablePermanent() {
      this.permanent = false
    },
    /**
     * Permet de rediriger l'utilisateur vers sa page de profil
     * @returns {Promise<void>}
     */
    async myProfile() {
      await this.$router.push('/authentification/profile')
    },
    /**
     * ajoute un nouvel onglet dans la navbar
     */
    newTab(item) {
      const name = `${this.part}${this.part && item.to ? '-' : ''}${item.to}`
      this.unshiftItem({
        key: 'onglets',
        item: {
          name: item.title,
          to: name,
        },
      })
      this.onglets = [
        ...new Map(this.onglets.map((row) => [row.name, row])).values(),
      ]

      this.update({
        key: 'ongletSelected',
        value: 0,
      })
      if (this.openInNewTab) {
        const routeData = this.$router.resolve({
          name,
          param: {},
        })
        window.open(routeData.href, '_blank')
      } else {
        this.$router.push({
          name,
          param: {},
        })
      }
    },
    indexGroup(item) {
      this.permanent = true
      this.newTab(item)
    },
    /**
     * Deconnexion de l'utilisateur
     * @returns {Promise<void>}
     */
    async logout() {
      this.update({
        key: 'part',
        value: '',
      })
      await this.$auth.logout()
      await this.$router.push('/authentification/login')
    },
    async redirect() {
      this.update({
        key: 'part',
        value: '',
      })
      await this.$router.push('/')
    },
  },
}
</script>

<style scoped>
.nav-bar {
  z-index: 30 !important;
}
.logo:hover {
  cursor: pointer !important;
}
.center {
  position: absolute;
  left: 47%;
}

.v-breadcrumbs >>> a {
  font-size: 18px;
  font-family: Courier, monospace !important;
}
</style>

<style>
.sidebar-child-active {
  color: white !important;
  background-color: #2a94a4 !important;
}
.sidebar-child {
  background-color: #2a94a4 !important;
}

.list-group {
  border-left: 5px solid yellow;
}
.little-space {
  padding-top: 5px !important;
}
</style>
