<template>
  <div id="inspire">
    <v-expansion-panels v-model="panels" multiple flat>
      <v-expansion-panel v-for="(header, index) in headers" :key="index">
        <v-expansion-panel-header>
          <span v-if="!panels.includes(index)">
            {{ header.title.toUpperCase() }}
            <v-icon :size="30" color="default" v-text="header.icon"></v-icon>
          </span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-stepper vertical class="ma-0 pa-0 position" flat>
            <v-stepper-step
              :key="`header-${index}`"
              class="step"
              :step="index + 1"
            >
              <span>
                {{ header.title.toUpperCase() }}
                <v-icon
                  :size="30"
                  color="default"
                  v-text="header.icon"
                ></v-icon>
              </span>
            </v-stepper-step>

            <v-stepper-content
              :key="`content-${index}`"
              :step="1"
              class="ma-0 pa-0"
            >
              <v-card color="lighten-1">
                <div class="space-around">
                  <slot
                    :name="`step-${index + 1}`"
                    :item="header"
                    :index="index"
                  ></slot>
                </div>
              </v-card>
            </v-stepper-content>
          </v-stepper>
        </v-expansion-panel-content>
        <v-divider></v-divider>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'SListStepper',
  props: {
    headers: {
      required: true,
      type: Array,
      default: () => [],
    },
    color: {
      required: false,
      type: String,
      default: () => 'default',
    },
    open: {
      required: false,
      type: Boolean,
      default: () => true,
    },
  },
  data: () => ({
    panels: [],
  }),
  watch: {
    open() {
      this.openOrClose()
    },
  },
  mounted() {
    this.openOrClose()
  },
  methods: {
    openOrClose() {
      this.panels = []
      if (this.open) {
        for (let i = 0; i < this.headers.length; i++) {
          this.panels.push(i)
        }
      }
    },
  },
}
</script>
<style scoped>
.position {
  margin-top: -30px !important;
}
</style>
<style>
#inspire .v-stepper__step__step {
  background-color: var(--default-color) !important;
  border-color: var(--default-color) !important;
}
#inspire .v-stepper__label {
  color: #000 !important;
}
</style>
