<template>
  <div>
    <s-header-template
      v-if="!hideHeader"
      v-model="search"
      :title="titleHeader"
      :title-btn="titleBtnHeader"
      :disable-add="disableAdd"
      @btn-add="show"
      @btn-quick-add="showShortForm"
    >
      <template #end>
        <slot name="end-header"></slot>
      </template>
    </s-header-template>
    <slot v-if="$scopedSlots.body" name="body"></slot>
    <v-row v-else no-gutters>
      <v-col v-if="$scopedSlots.left" cols="2">
        <slot name="left"></slot>
      </v-col>
      <v-col :cols="colsSize">
        <s-table
          v-bind="$props"
          :items="items"
          :headers="headersTable"
          class="elevation-1"
          :hide-header="hideHeaderTable"
          :search-value="search"
          @actions="eventAction"
          v-on="$listeners"
        >
          <template #header>
            <slot name="table-header"></slot>
          </template>
          <template v-for="slot in slotsHeader" #[slot]="{ item, index }">
            <slot :name="slot" :item="item" :index="index" />
          </template>
        </s-table>
      </v-col>
      <v-col v-if="$scopedSlots.right" cols="2">
        <slot name="right"></slot>
      </v-col>
    </v-row>
    <s-dialog-template
      ref="form-dialog"
      color="default"
      title="Formulaire"
      width="500"
      @validate="updateOrCreate"
    >
      <template #body>
        <v-row
          v-for="(form, i) in formsFiltered"
          :key="i"
          justify="center"
          align="center"
          class="ma-0 pa-0"
        >
          <v-col cols="10" class="ma-0 pa-0">
            <s-form
              ref="formulaires"
              v-model="formsFiltered[i]"
              :item="form"
            ></s-form>
          </v-col>
        </v-row>
      </template>
    </s-dialog-template>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import STableOptional from '~/mixins/props/STableOptional'
import Create from '~/mixins/api/create/index'
import Update from '~/mixins/api/update/index'
import Delete from '~/mixins/api/delete/index'
import SVModel from '~/mixins/SVModel'

export default {
  name: 'ListTemplate',
  mixins: [SVModel, STableOptional, Create, Update, Delete],
  props: {
    items: {
      required: false,
      type: Array,
      default: () => [],
    },
    headers: {
      required: false,
      type: Array,
      default: () => [],
    },
    title: {
      required: true,
      type: String,
      default: () => '',
    },
    hideHeader: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    hideHeaderTable: {
      required: false,
      type: Boolean,
      default: () => true,
    },
    disableDialog: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    disableAdd: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    control: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    forms: {
      required: false,
      type: Array,
      default: () => [],
    },
    model: {
      required: false,
      type: String,
      default: () => '',
    },
    api: {
      required: false,
      type: String,
      default: () => 'groupe',
    },
    sendMail: {
      required: false,
      type: Boolean,
      default: () => false,
    },
  },
  data: () => ({
    quick: false,
    isEdit: false,
    search: '',
    itemSelected: '',
    formsDefault: [],
  }),
  computed: {
    ...mapGetters(['loggedInUser']),
    headersTable() {
      if (this.headers) return this.headers
      return this.$initHeaders(this.items)
    },
    slotsHeader() {
      const buffer = []
      for (const property in this.$scopedSlots) {
        const isExist = this.headersTable.some((item) => {
          return item.value === property
        })
        if (isExist) buffer.push(property)
      }
      return buffer
    },
    titleBtnHeader() {
      const vowels = ['a', 'e', 'i', 'o', 'u', 'y', 'h']
      if (this.sMobileBreakpoint) return ''
      return `Nouve${
        this.$getGender(this.title) === true
          ? 'lle'
          : vowels.includes(this.title.charAt(0))
          ? 'l'
          : 'au'
      } ${this.title}`
    },
    titleHeader() {
      return `Liste des ${this.title}${this.title.slice(-1) === 's' ? '' : 's'}`
    },
    formsFiltered() {
      if (this.quick) return this.forms.filter((form) => form.required)
      else if (this.itemSelected) {
        return this.forms.map((form) => {
          form.value = this.itemSelected[form.field]
          return form
        })
      } else return this.forms
    },
    colsSize() {
      if (this.$scopedSlots.left && this.$scopedSlots.right) return 8
      if (this.$scopedSlots.left || this.$scopedSlots.right) return 10

      return 12
    },
  },
  watch: {
    search() {
      this.$emit('search', this.search)
    },
  },
  created() {
    this.formsDefault = this.forms
    // intercepte le message 'is-loading' peut importe de où il est émi
    this.$bus.$on('delete-approved', this.handleDeleteApproved)

    this.$bus.$on('modification-requested', (item) => {
      this.itemSelected = item
      setTimeout(() => {
        this.initEdit()
      }, 100)
    })

    this.$bus.$on('deletion-requested', (item) => {
      this.itemSelected = item
      this.eventDelete()
    })
  },
  destroyed() {
    this.$bus.$off('delete-approved', this.handleDeleteApproved)
  },
  methods: {
    handleDeleteApproved() {
      setTimeout(async () => {
        await this.deleteApproved()
      }, 200)
    },
    showShortForm() {
      this.show()
      this.quick = true
    },
    show() {
      if (!this.disableDialog || this.edit) {
        this.quick = false
        this.$refs['form-dialog'].open()
      }
    },
    close() {
      this.$refs['form-dialog'].close()
      this.quick = false
      this.isEdit = false
    },
    eventAction(action, indexAction, item, indexTable) {
      this.itemSelected = item
      if (!action.field || this.control) {
        this.$emit('actions', action, indexAction, item, indexTable)
        return
      }

      switch (action.field) {
        case 'update':
          this.initEdit()
          break
        case 'delete':
          this.eventDelete()
          break
        default:
          this.$emit('actions', action, indexAction, item, indexTable)
      }
    },
    eventDelete() {
      this.$bus.$emit('delete-item', 'cette ligne')
    },

    resetForms(forms) {
      forms.forEach((form) => {
        // The reset function exists
        if (typeof form.$children[0].reset === 'function') {
          form.$children[0].reset()
        } else if (typeof form.$children[0].$children[0].reset === 'function') {
          form.$children[0].$children[0].reset()
        }
      })
      // this.$resetForm(this.formsFiltered)
    },
    async deleteApproved() {
      let response = []
      response = await this.removeItem(this.model, this.itemSelected.id)
      await this.actionEnd(response)
    },
    initEdit() {
      this.isEdit = true
      this.show()
    },
    async updateOrCreate() {
      if (!this.$formValidate(this.formsFiltered)) return -1

      const { createdAt, updatedAt, ...rest } = this.itemSelected
      const data = {
        ...this.$getDataFromForm(this.forms),
        ...(this.isEdit ? rest : {}),
        ...this.$getDataFromForm(this.formsFiltered),
        userId: this.loggedInUser.id,
      }
      if (this.control) {
        this.$emit('update-or-create', data, this.isEdit)
        return
      }
      const response = []
      if (this.isEdit) {
        await this.update(this.model, data)
        this.resetForms(this.$refs.formulaires)
      } else {
        const create = await this.create(this.model, data)
        // envoi de mail if sendMail is true and create is not 0
        if (this.sendMail && create !== 0) {
          await this.SendMail(this.model, data, this.loggedInUser)
        }
        this.resetForms(this.$refs.formulaires)
      }
      await this.actionEnd(response)
    },

    async actionEnd(response) {
      if (response || this.control) {
        this.close()
        await this.$emit('reload-data')
      }
    },
  },
}
</script>
