<template>
  <div>
    <s-dialog-template
      ref="dialog"
      :title="title"
      :width="width"
      :color="color"
      :container="false"
      left
      hide-overlay
      height="600px"
      @fullscreen="isFullscreen"
      @close="closeByHeader"
      v-on="$listeners"
    >
      <template #body>
        <slot name="header"></slot>
        <s-form v-model="forms[0]" :item="forms[0]">
          <template #append>
            <v-btn
              v-if="!showCc"
              icon
              small
              class="lower-case"
              @click="showCc = true"
            >
              Cc
            </v-btn>
            <v-btn
              v-if="!showCci"
              icon
              small
              class="lower-case"
              @click="showCci = true"
            >
              Cci
            </v-btn>
          </template>
        </s-form>
        <s-form
          v-if="showCc"
          v-model="forms[1]"
          :item="forms[1]"
          style="margin-top: -20px"
        >
          <template v-if="!showCci" #append>
            <v-btn icon small class="lower-case" @click="showCci = true">
              Cci
            </v-btn>
          </template>
        </s-form>
        <s-form
          v-if="showCci"
          v-model="forms[2]"
          :item="forms[2]"
          style="margin-top: -20px"
        >
          <v-btn
            v-if="!showCc"
            icon
            small
            class="lower-case"
            @click="showCc = true"
          >
            Cc
          </v-btn>
        </s-form>
        <s-form v-model="forms[3]" :item="forms[3]" style="margin-top: -20px">
        </s-form>
        <vue-editor
          v-if="fullscreen"
          :key="0"
          v-model="content"
          style="margin-top: -22px !important"
        />
        <vue-editor
          v-else
          :key="1"
          v-model="content"
          style="margin-top: -22px !important"
          :editor-toolbar="reduceOptions"
        ></vue-editor>
        <v-list
          v-if="files.length"
          subheader
          dense
          flat
          max-height="200"
          class="overflow-y-auto"
        >
          <v-subheader>Fichiers :</v-subheader>

          <v-list-item
            v-for="(file, i) in files"
            :key="i"
            style="margin-top: -20px"
          >
            <v-list-item-avatar>
              <v-icon
                size="20"
                :color="getIconByType(file).color"
                dark
                v-text="`mdi-${getIconByType(file).name}`"
              ></v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>
                <span class="file-link" @click="showFile(file)">
                  {{ file.name }}
                </span>
                <span>{{ `(${$fileConvertiSize(file.size, 0)})` }}</span>
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn icon @click="sliceFile(i)">
                <v-icon small>mdi-close</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </template>
      <template #actions>
        <v-btn color="primary">Envoyer</v-btn>
        <v-spacer> </v-spacer>
        <s-emoji v-model="content"></s-emoji>
        <s-file-upload v-model="files"></s-file-upload>
        <s-signature v-model="signature"></s-signature>
      </template>
    </s-dialog-template>
  </div>
</template>
<script>
import SDefault from '~/mixins/props/SDefault'

export default {
  name: 'SMailDialog',
  mixins: [SDefault],
  props: {
    title: {
      type: String,
      default: () => 'Nouveau message',
      required: false,
    },
    width: {
      type: String,
      required: false,
      default: () => '500px',
    },
    emails: {
      type: [Array, String],
      required: false,
      default: () => [],
    },
    ccs: {
      type: [Array, String],
      required: false,
      default: () => [],
    },
    ccis: {
      type: [Array, String],
      required: false,
      default: () => [],
    },
    filesUpload: {
      type: [Array, Object],
      required: false,
      default: () => [],
    },
    body: {
      type: String,
      required: false,
      default: () => '',
    },
    subject: {
      type: String,
      required: false,
      default: () => '',
    },
  },
  data: () => ({
    show: false,
    fullscreen: false,
    content: '',
    signature: null,
    files: [],
    fullOptions: [
      [{ font: [] }],

      [{ header: [false, 1, 2, 3, 4, 5, 6] }],

      [{ size: ['small', false, 'large', 'huge'] }],

      ['bold', 'italic', 'underline', 'strike'],

      [
        { align: '' },
        { align: 'center' },
        { align: 'right' },
        { align: 'justify' },
      ],

      [{ header: 1 }, { header: 2 }],

      ['blockquote', 'code-block'],

      [{ list: 'ordered' }, { list: 'bullet' }, { list: 'check' }],

      [{ script: 'sub' }, { script: 'super' }],

      [{ indent: '-1' }, { indent: '+1' }],

      [{ color: [] }, { background: [] }],

      ['link', 'image', 'video', 'formula'],

      [{ direction: 'rtl' }],
      ['clean'],
    ],
    reduceOptions: [
      [{ header: [false, 1, 2, 3, 4, 5, 6] }],
      ['bold', 'italic', 'underline'],
      [{ list: 'ordered' }, { list: 'bullet' }, { list: 'check' }],
      [{ color: [] }, { background: [] }],

      ['image'],
    ],
    forms: [
      {
        name: 'v-emails-field',
        props: {
          label: 'À',
          items: [],
        },
        field: 'emails',
        value: [],
        required: true,
      },
      {
        name: 'v-emails-field',
        props: {
          label: 'Cc',
          items: [],
        },
        field: 'emailsCc',
        value: [],
        required: true,
      },
      {
        name: 'v-emails-field',
        props: {
          label: 'Cci',
          items: [],
        },
        field: 'emailsCci',
        value: [],
        required: true,
      },
      {
        name: 'v-text-field',
        props: {
          label: 'Objet',
        },
        field: 'object',
        value: '',
        required: true,
      },
    ],
    showCc: false,
    showCci: false,
  }),
  watch: {
    emails: {
      deep: true,
      handler() {
        this.initMails()
      },
    },
    ccs: {
      deep: true,
      handler() {
        this.initCcs()
      },
    },
    ccis: {
      deep: true,
      handler() {
        this.initCcis()
      },
    },
    filesUpload: {
      deep: true,
      handler() {
        this.initFiles()
      },
    },
    body: {
      deep: true,
      handler() {
        this.content = this.body
      },
    },
    subject: {
      deep: true,
      handler() {
        this.forms[3].value = this.subject
      },
    },
    signature: {
      deep: true,
      handler() {
        this.initFiles()
      },
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.initMails()
      this.initCcs()
      this.initCcis()
      this.initFiles()
      this.content = this.body
      this.forms[3].value = this.subject
    },
    initMails() {
      if (typeof this.email === 'string') {
        this.forms[0].value = [this.emails]
      } else {
        this.forms[0].value = this.emails
      }
    },
    initCcs() {
      if (typeof this.ccs === 'string') {
        this.forms[1].value = [this.ccs]
      } else {
        this.forms[1].value = this.ccs
      }
    },
    initCcis() {
      if (typeof this.ccis === 'string') {
        this.forms[2].value = [this.ccis]
      } else {
        this.forms[2].value = this.ccis
      }
    },
    initFiles() {
      if (this.signature) {
        this.files = [...this.files, this.signature]
      }
      this.files = [...this.files, ...this.filesUpload]
      this.files = [
        ...new Map(this.files.map((row) => [row.name, row])).values(),
      ]
    },
    open() {
      this.$refs.dialog.open()
    },
    closeByHeader() {
      this.showCc = false
      this.showCci = false
      this.content = ''
      this.files = []
    },
    close() {
      this.closeByHeader()
      this.$refs.dialog.close()
    },
    isFullscreen(v) {
      this.fullscreen = v
    },
    getIconByType(file) {
      const buffer = file.name.split('.')
      const type = buffer[buffer.length - 1]
      const icon = {
        name: '',
        color: 'grey',
      }
      switch (type.toLowerCase()) {
        case 'jpg':
        case 'jpeg':
        case 'png':
        case 'svg':
          icon.color = 'pink'
          icon.name = 'camera-image'
          break
        case 'mp4':
          icon.color = 'blue'
          icon.name = 'video-minus'
          break
        case 'mp3':
          icon.color = 'dark'
          icon.name = 'music-note-eighth'
          break
        case 'gif':
          icon.color = 'yellow'
          icon.name = 'file-gif-box'
          break
        case 'txt':
          icon.name = 'text-box-outline'
          break
        case 'pdf':
          icon.color = '#e10d0c'
          icon.name = 'file-pdf-box'
          break
        case 'docs':
        case 'doc':
        case 'docx':
          icon.color = '#2a5699'
          icon.name = 'microsoft-word'
          break
        case 'xls':
        case 'xlsx':
        case 'csv':
          icon.color = '#217345'
          icon.name = 'microsoft-excel'
          break
        case 'ppt':
        case 'pptx':
        case 'odp':
          icon.color = '#bd371a'
          icon.name = 'microsoft-powerpoint'
          break
        default:
          icon.name = 'cloud-upload'
          break
      }
      return icon
    },
    sliceFile(i) {
      this.files.splice(i, 1)
    },
    showFile(file) {
      const url = window.URL.createObjectURL(
        new Blob([file], { type: file.type })
      )
      window.open(url, '_blank')
    },
  },
}
</script>
<style scoped>
.file-link {
  color: #15c !important;
  background-color: #f4f8ff !important;
  cursor: pointer;
}
</style>
