<template>
  <div>
    <div class="material-textfield">
      <label for="material-input" :style="{ color: color }"> {{ label }}</label>
      <input
        id="material-input"
        v-model="field"
        name="material-input"
        :type="type"
        :readonly="readonly"
        :style="{ border: `2px solid ${color}`, color: color }"
      />
    </div>
  </div>
</template>
<script>
import SVModel from '~/mixins/SVModel'
export default {
  name: 'SMaterialInput',
  mixins: [SVModel],
  props: {
    label: {
      required: true,
      type: String,
    },
    readonly: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    type: {
      required: false,
      type: String,
      default: () => 'text',
    },
    color: {
      required: false,
      type: String,
      default: () => '#000000',
    },
  },
}
</script>
<style scoped>
.material-textfield {
  position: relative;
}

label {
  position: absolute;
  font-size: 15px;
  background-color: var(--default-color-sblue);
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

input {
  width: 90%;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  padding: 3% 2%;
}
</style>
