<template>
  <div>
    <transition
      :name="`slide-fade-${direction}`"
      enter-active-class="slide-fade"
      leave-active-class="slide-fade"
    >
      <v-row
        v-if="showDialog"
        justify="end"
        class="container ma-0 pa-0"
        no-gutters
      >
        <v-btn
          :elevation="5"
          dark
          rounded
          color="sblue"
          class="close-btn"
          @click="close()"
        >
          <v-icon>mdi-close</v-icon>
          Fermer
        </v-btn>
        <v-card v-if="showDialog" :width="width">
          <slot name="content"></slot>
        </v-card>
      </v-row>
    </transition>
    <div id="overlay"></div>
    <!-- le fab-transition doit toujours être le dernier component -->
    <v-fab-transition>
      <v-btn
        :color="color"
        dark
        right
        absolute
        class="center-btn"
        @click="open()"
      >
        <b>{{ title }}</b>
        <v-icon right>mdi-arrow-up-drop-circle-outline</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>
<script>
export default {
  name: 'SRightDialog',
  props: {
    title: {
      type: String,
      required: false,
      default: () => 'open',
    },
    color: {
      type: String,
      required: false,
      default: () => 'spink',
    },
    width: {
      required: false,
      type: [String, Number],
      default: () => undefined,
    },
  },
  data() {
    return {
      showDialog: false,
      direction: 'left',
    }
  },
  methods: {
    close() {
      this.direction = 'right'
      this.showDialog = false
      document.getElementById('overlay').style.display = 'none'
    },
    open() {
      this.showDialog = true
      this.direction = 'left'
      document.getElementById('overlay').style.display = 'block'
    },
  },
}
</script>

<style scoped>
.v-card {
  display: flex !important;
  flex-direction: column;
}

.v-card__text {
  flex-grow: 1;
  overflow: auto;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
}
>>> .my-custom-dialog {
  align-self: flex-right !important;
  position: absolute;
  bottom: 0;
  right: 0;
}
.center-btn {
  top: 50%;
  z-index: 5 !important;
  position: fixed !important;
  -ms-transform: translateX(50%) translateY(-50%) rotate(-90deg);
  transform: translateX(50%) translateY(-50%) rotate(-90deg);
}

.container {
  top: 8px !important;
  position: absolute !important;
  z-index: 20 !important;
  right: 0 !important;
}
.close-btn {
  text-align: left !important;
  padding-right: 20px !important;
  margin-right: -15px !important;
}
</style>
