<template>
  <v-text-field
    v-model="field"
    color="default"
    append-icon="mdi-magnify"
    label="Rechercher"
    hide-details
    dense
    clearable
    :outlined="outlined"
    v-on="$listeners"
  />
</template>

<script>
import SVModel from '~/mixins/SVModel'

export default {
  name: 'SSearch',
  mixins: [SVModel],
  props: {
    outlined: {
      type: Boolean,
      required: false,
      default: () => false,
    },
  },
}
</script>
