<template>
  <div>
    <v-menu
      v-model="menu"
      top
      offset-x
      :close-on-content-click="false"
      :nudge-width="200"
      :nudge-left="450"
      :nudge-top="320"
    >
      <template #activator="{ on, attrs }">
        <v-btn v-bind="attrs" icon v-on="on">
          <v-icon> mdi-signature-freehand </v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-text>
          <VueSignaturePad
            v-if="show"
            id="signature"
            ref="signaturePad"
            ue-signature-pad
            width="400px"
            height="300px"
            :options="options"
          />
        </v-card-text>
        <v-card-actions>
          <s-btn text icon icon-name="close" @click="menu = false"></s-btn>
          <v-spacer></v-spacer>
          <s-btn text icon icon-name="undo" @click="undo"></s-btn>
          <s-colors-picker v-model="colors"></s-colors-picker>
          <v-btn text @click="save">Valider</v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
import Vue from 'vue'
import VueSignaturePad from 'vue-signature-pad'
import SVModel from '~/mixins/SVModel'

Vue.use(VueSignaturePad)
export default {
  name: 'SSignature',
  mixins: [SVModel],

  data: () => ({
    options: {
      penColor: '#15c',
    },
    menu: false,
    show: false,
    colors: '#15c',
  }),
  computed: {
    smodel: {
      get() {
        return this.field instanceof Object ? this.field.value : this.field
      },
      set(v) {
        if (this.field instanceof Object) this.field.value = v
        else this.field = v
      },
    },
  },
  watch: {
    colors() {
      this.changeColor()
    },
    menu() {
      if (this.menu) {
        setTimeout(() => {
          this.show = true
        }, 100)
      } else this.show = false
    },
  },
  methods: {
    undo() {
      this.$refs.signaturePad.undoSignature()
    },
    async save() {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature()
      if (isEmpty) {
        this.$stoast.info(
          'Rester appuyer sur le click droit de la souris pour dessiner'
        )
        return
      }
      const blob = await fetch(data).then((r) => r.blob())
      this.smodel = new File([blob], `signature.png`, {
        type: blob.type,
      })
      this.$emit('save')
      this.menu = false
    },
    changeColor() {
      this.options = {
        penColor: this.colors,
      }
    },
  },
}
</script>

<style>
#signature {
  border: double 3px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #4bc5e8, #9f6274);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
</style>
