<template>
  <div>
    <v-stepper v-model="step" :vertical="vertical" class="ma-0 pa-0">
      <div v-if="!vertical">
        <v-stepper-header>
          <template v-for="(header, index) in headers">
            <v-stepper-step
              :key="`header-${index}`"
              :complete="step > index + 1"
              :step="index + 1"
              :color="color"
            >
              <span>
                {{ header.title.toUpperCase() }}
                <v-icon
                  :size="30"
                  :color="colorStep(index + 1)"
                  v-text="header.icon"
                ></v-icon>
              </span>
            </v-stepper-step>

            <v-divider
              v-if="index != headers.length - 1"
              :key="`divider-${index}`"
            ></v-divider>
          </template>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content
            v-for="(header, index) in headers"
            :key="index"
            class="ma-0 pa-0"
            :step="index + 1"
          >
            <v-card v-show="step === index + 1" color="lighten-1">
              <slot
                :name="`step-${index + 1}`"
                :item="header"
                :index="index"
              ></slot>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn v-if="index > 0" text @click="prevStep">Précédent</v-btn>
                <slot name="btn-centered" :index="index"></slot>
                <s-btn-redirect
                  ref="btn-validate"
                  check
                  color="default"
                  dark
                  :label="btnName"
                  @check="validate(index, header.component)"
                ></s-btn-redirect>
                <v-spacer v-if="btnCentered"></v-spacer>
                <slot name="btn-right"></slot>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </div>

      <template v-for="(header, index) in headers" v-else>
        <v-stepper-step
          :key="`header-${index}`"
          :complete="step > index + 1"
          :step="index + 1"
          :color="color"
        >
          <span>
            {{ header.title.toUpperCase() }}
            <v-icon
              :size="30"
              :color="colorStep(index + 1)"
              v-text="header.icon"
            ></v-icon>
          </span>
        </v-stepper-step>

        <v-stepper-content
          :key="`content-${index}`"
          :step="index + 1"
          class="ma-0 pa-0"
        >
          <v-card v-show="step === index + 1" color="lighten-1">
            <div class="space-around">
              <slot
                :name="`step-${index + 1}`"
                :item="header"
                :index="index"
              ></slot>
            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn v-if="index > 0" text @click="prevStep">Précédent</v-btn>
              <slot name="btn-centered" :index="index"></slot>
              <s-btn-redirect
                v-if="!disableValidate || index < headers.length - 1"
                ref="btn-validate"
                check
                dark
                color="default"
                :label="btnName"
                @check="validate(index, header.component)"
              ></s-btn-redirect>
              <v-spacer v-if="btnCentered"></v-spacer>
            </v-card-actions>
          </v-card>
        </v-stepper-content>
      </template>
    </v-stepper>
  </div>
</template>

<script>
import SBtnRedirect from '~/components/utils/SBtnRedirect'
export default {
  name: 'SStepper',
  components: { SBtnRedirect },
  props: {
    headers: {
      required: true,
      type: Array,
      default: () => [],
    },
    vertical: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    color: {
      required: false,
      type: String,
      default: () => 'default',
    },
    btnCentered: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    disableValidate: {
      required: false,
      type: Boolean,
      default: () => false,
    },
  },
  data: () => ({
    step: 1,
  }),
  computed: {
    btnName() {
      return this.step === this.headers.length ? 'Valider' : 'Suivant'
    },
  },
  methods: {
    colorStep(index) {
      return this.step === index ? this.color : '#9E9E9E'
    },
    prevStep() {
      this.step--
    },
    nextStep() {
      if (this.step < this.headers.length) {
        this.step++
      }
    },
    redirect(type, urlName, params = {}) {
      this.$refs[`btn-validate`][0][type](urlName, params)
    },
    validate(index, name) {
      this.$emit('validate', index, name)
    },
    reset() {
      this.step = 1
    },
  },
}
</script>
<style scoped>
.space-around {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
</style>
