<template>
  <div>
    <v-card
      color="sblue"
      dark
      class="card-border elevation-2"
      :max-height="maxHeight"
      :width="width"
    >
      <v-card-title class="text-center card-title decoration">
        RECAPITULATIF
      </v-card-title>
      <v-container>
        <v-row justify="center">
          <v-col
            v-for="(item, index) in summary"
            :key="index"
            cols="12"
            md="12"
            sm="4"
            lg="12"
            xl="12"
          >
            <s-material-input
              v-model="field[index].value"
              :label="item.text"
              :readonly="item.readonly"
              color="#efefef"
            ></s-material-input>
          </v-col>
        </v-row>
      </v-container>
      <slot name="end"></slot>
    </v-card>
  </div>
</template>

<script>
import SVModel from '~/mixins/SVModel'
export default {
  name: 'SSummary',
  mixins: [SVModel],
  props: {
    summary: {
      required: true,
      type: Array,
    },
    maxHeight: {
      required: false,
      type: [String, Number],
      default: () => '',
    },
    width: {
      required: false,
      type: [String, Number],
      default: () => undefined,
    },
  },
}
</script>
<style scoped>
.card-title {
  padding: 16px 24px !important;
  text-transform: uppercase;
  color: white !important;
  font: 15px Roboto, sans-serif !important;
  font-weight: bold !important;
}
.decoration {
  position: relative;
  text-decoration: 2px underline var(--default-color-syellow);
  text-underline-position: under;
}
</style>
