<template>
  <div>
    <client-only placeholder="chargement...">
      <v-card :elevation="elevation">
        <v-card-title
          v-if="!hideHeader"
          style="padding-top: 0 !important; margin-top: 0"
        >
          <v-row justify="space-between" align="center">
            <v-col cols="7" sm="8" md="8" lg="8" xl="8">
              <slot name="header" />
            </v-col>
            <v-col v-if="!hideSearch" of cols="5" sm="4" md="4" lg="3" xl="3">
              <s-search v-model="search"></s-search>
            </v-col>
          </v-row>
        </v-card-title>
        <v-layout v-resize="onResize" column>
          <v-data-table
            v-bind="propsFiltered"
            :key="anIncreasingNumber"
            v-sortable-table="{ onEnd: sortTheHeadersAndUpdateTheKey }"
            :items="filteredItems"
            :headers="headersFormatted"
            :search="search"
            :expanded.sync="expanded"
            multi-sort
            :hide-default-header="sMobileBreakpoint"
            loading-text="Chargement... Merci de patienter"
            :item-class="getRowClass"
            :header-props="{ 'checkbox-color': '#ffffff', dark: true }"
            :footer-props="{
              'items-per-page-text': sMobileBreakpoint
                ? ''
                : 'Lignes par pages',
              ...propsFiltered.footerProps,
            }"
          >
            <template
              v-if="!propsFiltered.singleSelect"
              #[`header.data-table-select`]
            >
              <div class="firts-col">
                <input
                  v-if="headers.length"
                  id="checkbox"
                  v-model="selectAll"
                  style="margin-top: 8px"
                  type="checkbox"
                  name="checkbox"
                  @change="selectAllToggle"
                />
              </div>
            </template>
            <template v-if="actions.length" #[`header.actions`]>
              <div class="firts-col" style="margin-left: -8px">
                <v-icon size="18" dark @click="showField"> mdi-tune</v-icon>
              </div>
            </template>
            <template
              v-if="!loading && items.length"
              #body="{ items, pagination, headers }"
            >
              <tbody>
                <tr v-if="searchByColumn && filters.length">
                  <td v-if="showSelect">
                    <div class="firts-col">
                      <input
                        v-model="selectFirst"
                        style="margin-top: 8px"
                        :type="singleSelect ? 'radio' : 'checkbox'"
                        @change="selectAllToggle"
                      />
                    </div>
                  </td>
                  <td v-if="actions.length">
                    <div style="margin-left: -8px" class="firts-col">
                      <v-icon size="18"> mdi-menu</v-icon>
                    </div>
                  </td>
                  <td v-for="(filter, index) in filters" :key="index">
                    <v-menu bottom oppen-on-hover offset-y :nudge-top="15">
                      <template #activator="{ on, attrs }">
                        <v-row class="filter">
                          <v-text-field
                            v-model="filters[index].search"
                            dense
                            color="default"
                            class="input-style"
                            :placeholder="filter.label"
                          >
                            <template #append>
                              <v-hover v-slot="{ hover }">
                                <v-icon
                                  :color="hover ? 'sblue' : ''"
                                  v-bind="attrs"
                                  v-on="on"
                                >
                                  {{ `mdi-${filter.icon}` }}
                                </v-icon>
                              </v-hover>
                            </template>
                          </v-text-field>
                        </v-row>
                      </template>

                      <v-list dense style="overflow-y: auto" max-height="200px">
                        <v-list-item
                          v-for="(item, l) in listFilters"
                          :key="l"
                          link
                          style="margin-top: -10px; margin-bottom: -10px"
                        >
                          <v-list-item-title
                            class="first-letter-uppercase"
                            @click="selectFilter(item, index)"
                          >
                            <v-icon small style="margin-right: 20px">
                              {{ `mdi-${item.icon}` }}
                            </v-icon>
                            {{ item.label }}
                          </v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </td>
                </tr>
                <tr
                  v-for="(item, index) in items"
                  :key="index"
                  :class="getRowClass(index)"
                  @click="rowSelectedStyle(index, pagination)"
                >
                  <td
                    v-for="(header, i) in headers"
                    :key="i"
                    :class="[
                      {
                        ...(sMobileBreakpoint
                          ? {
                              'td-border-bottom-mobile':
                                (i + 1) % headers.length === 0,
                              'td-border-top-mobile': index === 0 && i === 0,
                            }
                          : {}),
                      },
                      header.value === 'actions' ||
                      header.value === 'data-table-select'
                        ? 'sticky-col'
                        : '',
                      alignStyle(header.alignValue),
                    ]"
                    class="text-xs-left"
                  >
                    <div
                      v-if="header.value === 'data-table-select'"
                      class="firts-col"
                    >
                      <input
                        id="checkboxRadio"
                        v-model="field"
                        :value="item"
                        style="margin-top: 8px"
                        :type="singleSelect ? 'radio' : 'checkbox'"
                        name="checkboxRadio"
                      />
                    </div>
                    <div
                      v-else-if="header.value === 'actions'"
                      style="margin-left: -8px"
                      class="firts-col"
                    >
                      <v-menu offset-x content-class="menu-actions">
                        <template #activator="{ on, attrs }">
                          <v-icon
                            size="18"
                            v-bind="attrs"
                            center
                            v-on="on"
                            @click="rowSelectedStyle(index, pagination)"
                          >
                            mdi-menu
                          </v-icon>
                        </template>
                        <v-list dense width="200">
                          <v-list-item-group color="primary">
                            <v-list-item
                              v-for="(action, j) in actions"
                              :key="j"
                              @click="eventAction(action, j, item)"
                            >
                              <v-list-item-icon>
                                <v-icon
                                  size="18"
                                  v-text="`mdi-${action.icon}`"
                                ></v-icon>
                              </v-list-item-icon>
                              <v-list-item-title
                                style="
                                  font-size: 14px;
                                  margin-left: -20px;
                                  font-style: normal !important;
                                "
                              >
                                {{ action.name }}
                              </v-list-item-title>
                            </v-list-item>
                          </v-list-item-group>
                        </v-list>
                      </v-menu>
                    </div>
                    <div
                      v-else
                      :style="{ maxWidth: `${widthColumn} !important` }"
                    >
                      <v-tooltip bottom>
                        <template #activator="{ on, attrs }">
                          <div v-bind="attrs" v-on="on">
                            <slot
                              v-if="$scopedSlots[header.value]"
                              :name="header.value"
                              :item="item"
                              :index="index"
                            />
                            <v-edit-dialog
                              v-else-if="edit"
                              :return-value.sync="item[header.value]"
                              v-on="$listeners"
                              @save="save"
                              @cancel="cancel"
                              @open="open"
                              @close="close"
                            >
                              {{ $truncate(item[header.value]) }}
                              <template #input>
                                <v-text-field
                                  v-model="item[header.value]"
                                  label="Edit"
                                  single-line
                                />
                              </template>
                            </v-edit-dialog>
                            <div
                              v-else
                              class="truncate"
                              :inner-html.prop="
                                formatter(item[header.value])
                                  | highlight(search)
                              "
                            ></div>
                          </div>
                        </template>
                        <span>{{ formatter(item[header.value]) }}</span>
                      </v-tooltip>
                    </div>
                  </td>
                </tr>
              </tbody>
            </template>
            <template #no-data>
              <h5>Aucune données disponible</h5>
            </template>
          </v-data-table>
        </v-layout>

        <div
          v-if="!hideDefaultFooter"
          class="table-footer-prepend d-flex pl-2 align-center"
        >
          <slot v-if="$scopedSlots.footer" name="footer" />
          <s-export
            v-else
            :array="items"
            :headers="headers"
            :options="pdfOptions"
            :browers="false"
          ></s-export>
          <v-menu v-if="actionsMultiples.length" top offset-y>
            <template #activator="{ on, attrs }">
              <v-btn
                outlined
                color="#5B5B5B"
                v-bind="attrs"
                style="margin-left: 30px !important"
                v-on="on"
              >
                Actions multiples
                <v-icon right size="30">mdi-menu-down</v-icon>
              </v-btn>
            </template>
            <v-list dense>
              <v-list-item-group color="primary">
                <v-list-item
                  v-for="(action, j) in actionsMultiples"
                  :key="j"
                  @click="eventActionMultiple(action, j)"
                >
                  <v-list-item-icon>
                    <v-icon size="18" v-text="`mdi-${action.icon}`"></v-icon>
                  </v-list-item-icon>
                  <v-list-item-title
                    style="
                      font-size: 14px;
                      margin-left: -20px;
                      font-style: normal !important;
                    "
                  >
                    {{ action.name }}
                  </v-list-item-title>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-menu>
          <slot name="footer-middle"></slot>
        </div>
      </v-card>
      <v-dialog v-model="dialogHeaders" scrollable width="700px">
        <v-card>
          <v-card-title class="card-title">
            Paramètres d'affichage de la liste
            <v-spacer></v-spacer>
            <v-icon @click="dialogHeaders = false">mdi-close</v-icon>
          </v-card-title>
          <v-card-text style="height: 100px">
            <v-autocomplete
              v-model="headersSelected"
              :items="headersItems"
              label="Selectionner les colonnes que vous avez besoin"
              multiple
              return-object
            >
              <template #selection="{ item, index }">
                <v-chip v-if="index < 5" color="sblue" dark>
                  <span>{{ item.text }}</span>
                </v-chip>
                <span v-if="index === 5" class="grey--text caption">
                  (+{{ headersSelected.length - 5 }} autres)
                </span>
              </template>
            </v-autocomplete>
          </v-card-text>
        </v-card>
      </v-dialog>
    </client-only>
  </div>
</template>

<script>
// eslint-disable-next-line import/no-named-as-default
import Sortable from 'sortablejs'
import STableRequired from '~/mixins/props/STableRequired'
import STableOptional from '~/mixins/props/STableOptional'
import SExport from '~/components/utils/SExport'
import SVModel from '~/mixins/SVModel'
import SMobileResize from '~/mixins/SMobileResize'
import SSearch from '~/components/utils/SSearch'

function watchClass(targetNode, classToWatch) {
  let lastClassState = targetNode.classList.contains(classToWatch)
  const observer = new MutationObserver((mutationsList) => {
    for (let i = 0; i < mutationsList.length; i++) {
      const mutation = mutationsList[i]
      if (
        mutation.type === 'attributes' &&
        mutation.attributeName === 'class'
      ) {
        const currentClassState =
          mutation.target.classList.contains(classToWatch)
        if (lastClassState !== currentClassState) {
          lastClassState = currentClassState
          if (!currentClassState) {
            mutation.target.classList.add('sortHandle')
          }
        }
      }
    }
  })
  observer.observe(targetNode, { attributes: true })
}

export default {
  name: 'STable',
  components: { SSearch, SExport },
  filters: {
    highlight(value, query) {
      if (!value) return value
      return value
        .toString()
        .replace(
          new RegExp(query, 'ig'),
          (v) => `<span class="selected-item">${v}</span>`
        )
    },
  },
  directives: {
    'sortable-table': {
      inserted: (el, binding) => {
        el.querySelectorAll('th').forEach((draggableEl) => {
          // Need a class watcher because sorting v-data-table rows asc/desc removes the sortHandle class
          watchClass(draggableEl, 'sortHandle')
          draggableEl.classList.add('sortHandle')
        })
        Sortable.create(
          el.querySelector('tr'),
          binding.value ? { ...binding.value, handle: '.sortHandle' } : {}
        )
      },
    },
  },
  mixins: [SVModel, STableRequired, STableOptional, SMobileResize],
  data: () => ({
    menu: false,
    rowClicked: -1,
    anIncreasingNumber: 1,
    fab: false,
    menuFilter: false,
    selectAll: false,
    selectFirst: false,
    dialogHeaders: false,
    search: '',
    expanded: [],
    filters: [],
    listFilters: [
      {
        label: 'Contient',
        icon: 'format-letter-matches',
      },
      {
        label: 'Ne contient pas',
        icon: 'alphabetical-variant-off',
      },
      {
        label: 'Commence par',
        icon: 'format-letter-starts-with',
      },
      {
        label: 'Termine par',
        icon: 'format-letter-ends-with',
      },
      {
        label: 'Supérieur à',
        icon: 'greater-than',
      },
      {
        label: 'Supérieur ou égal à',
        icon: 'greater-than-or-equal',
      },
      {
        label: 'Egale à',
        icon: 'equal',
      },
      {
        label: 'Différent de',
        icon: 'exclamation',
      },
      {
        label: 'Inférieur à',
        icon: 'less-than',
      },
      {
        label: 'Inférieur ou égale à',
        icon: 'less-than-or-equal',
      },
      {
        label: 'Est null',
        icon: 'circle-off-outline',
      },
      {
        label: 'Rechercher',
        icon: 'magnify',
      },
    ],
    headersFormatted: [],
    headersSelected: [],
    headersItems: [],
  }),
  computed: {
    itemsIndexed() {
      return this.items.map((row, i) => ({
        indexFixed: i,
        ...row,
      }))
    },
    propsFiltered() {
      const { value, ...rest } = this.$props
      return rest
    },
    filteredItems() {
      return this.itemsIndexed.filter((item) => {
        return this.filters.every((filter) => {
          const search = filter.search.toString().toLowerCase()
          if (!search) return true
          if (item[filter.key]) {
            const key = item[filter.key].toString().toLowerCase()
            return this.applyFilter(key, search, filter.label)
          } else if (filter.label === 'Est null') {
            return true
          } else {
            return false
          }
        })
      })
    },
  },
  watch: {
    searchValue() {
      this.search = this.searchValue
    },
    headers: {
      deep: true,
      handler() {
        this.initHeadersItems()
      },
    },
    expanded: {
      deep: true,
      handler() {
        this.$emit('expanded', this.expanded)
      },
    },
    headersSelected() {
      this.headersFormatter()
    },
  },
  mounted() {
    this.initHeadersItems()
    this.resizeColumns()
  },
  methods: {
    alignStyle(value) {
      return `text-${value}`
    },
    save() {},
    cancel() {},
    open() {},
    close() {},
    applyFilter(field, search, label) {
      const v = this.formatter(search)
      switch (label) {
        case 'Contient':
        case 'Rechercher':
          return field.includes(v)
        case 'Ne contient pas':
          return !field.includes(v)
        case 'Commence par':
          return field.startsWith(v)
        case 'Termine par':
          return field.endsWith(v)
        case 'Supérieur à':
          return field > search
        case 'Supérieur ou égal à':
          return field >= search
        case 'Egale à':
          return field === v
        case 'Différent de':
          return field !== v
        case 'Inférieur à':
          return field < search
        case 'Inférieur ou égale à':
          return field <= search
      }
    },
    showField() {
      this.dialogHeaders = true
    },

    showActions() {},
    selectFilter(item, index) {
      this.filters[index].icon = item.icon
      this.filters[index].label = item.label
    },
    getRowClass(i) {
      const classes = []
      if (this.colorRowHeaders.length) {
        const buffer = [
          ...new Map(
            this.colorRowHeaders.map((item) => [item.index, item])
          ).values(),
        ]
        const property = buffer.find((item) => item.index === i)
        if (property) classes.push(`color-property-${property.class}`)
      }

      if (this.rowClicked === i) classes.push('selected-item')

      return classes
    },
    getGoodIndex(index, pagination) {
      return pagination.pageStart + index
    },
    rowSelectedStyle(index, pagination) {
      this.rowClicked = this.getGoodIndex(index, pagination)
    },
    eventActionMultiple(action, indexAction) {
      this.$emit('actions-multiples', action, indexAction)
    },
    eventAction(action, indexAction, item) {
      this.$emit('actions', action, indexAction, item, item.indexFixed)
    },
    sortTheHeadersAndUpdateTheKey(evt) {
      const headersTmp = this.headersFormatted
      const oldIndex = evt.oldIndex
      const newIndex = evt.newIndex

      if (newIndex >= headersTmp.length) {
        let k = newIndex - headersTmp.length + 1
        while (k--) {
          headersTmp.push(undefined)
        }
      }
      headersTmp.splice(newIndex, 0, headersTmp.splice(oldIndex, 1)[0])
      this.anIncreasingNumber += 1
    },
    headersFormatter() {
      this.initFilters()
      this.headersFormatted = this._.sortBy(
        this.$arrayCopy(this.headersSelected),
        'index'
      )

      if (this.actions.length) {
        this.headersFormatted.unshift({
          text: '',
          index: 0,
          fixed: true,
          value: 'actions',
          align: 'start',
          sortable: false,
        })
      }
      if (this.showSelect) {
        this.headersFormatted.unshift({
          text: '',
          index: 0,
          fixed: true,
          value: 'data-table-select',
          align: 'start',
          sortable: false,
        })
      }
    },
    initFilters() {
      this.filters = this.headersSelected.map((item) => ({
        key: item.value,
        search: '',
        label: 'Rechercher',
        icon: 'magnify',
      }))
    },

    initHeadersItems() {
      this.headersItems = this.headers.map((item, index) => ({
        align: 'start',
        index: index + 1,
        ...item,
      }))
      this.headersSelected = this.$arrayCopy(this.headersItems)
    },
    formatter(value) {
      let isDate = false
      let isFloat = false
      if (value instanceof Date) {
        isDate = true
      } else if (typeof value === 'string' || value instanceof String) {
        if (value.length < 8) return value
        isDate = this.$isDate(value)
      } else if (typeof value === 'number' || value instanceof Number) {
        isFloat = !!(value % 1)
      }

      let d = value
      if (isDate) {
        const format =
          d.toString().length < 11 ? 'DD/MM/YYYY' : 'DD/MM/YYYY hh:mm'
        d = this.$moment(value).format(format)
      } else if (isFloat) {
        d = d.toFixed(2)
      }
      return d
    },
    selectAllToggle() {
      this.selectFirst = this.selectAll
      if (!this.selectAll) this.field = []
      else {
        this.field = this.filteredItems
      }
    },
    resizeColumns() {
      if (!this.resizable) return -1
      setTimeout(() => {
        let el = this.$el
        let nodeName = el.nodeName
        if (!['TABLE', 'THEAD'].includes(nodeName)) {
          el = el.querySelector('table') // looking for the closest table
          if (!el) return
          nodeName = 'TABLE'
        }

        const table = nodeName === 'TABLE' ? el : el.parentElement
        const thead = table.querySelector('thead')
        const ths = thead.querySelectorAll('th')
        const barHeight =
          nodeName === 'TABLE' ? table.offsetHeight : thead.offsetHeight

        const resizeContainer = document.createElement('div')
        table.style.position = 'relative'
        resizeContainer.style.position = 'relative'
        resizeContainer.style.width = table.offsetWidth + 20 + 'px'
        resizeContainer.className = 'vue-columns-resizable'
        table.parentElement.insertBefore(resizeContainer, table)

        let moving = false
        let movingIndex = 0
        ths.forEach((th, index) => {
          th.style.width = th.offsetWidth + 'px'

          if (index + 1 >= ths.length) return

          const nextTh = ths[index + 1]
          const bar = document.createElement('div')

          bar.style.position = 'absolute'
          bar.style.left = nextTh.offsetLeft - 4 + 'px'
          bar.style.top = 0
          bar.style.height = barHeight + 'px'
          bar.style.width = '8px'
          bar.style.cursor = 'col-resize'
          bar.style.zIndex = 1
          bar.className = 'columns-resize-bar'

          bar.addEventListener('mousedown', (e) => {
            moving = true
            movingIndex = index
            document.body.style.cursor = 'col-resize'
            document.body.style.userSelect = 'none'
          })

          resizeContainer.appendChild(bar)
        })

        const bars = resizeContainer.querySelectorAll('.columns-resize-bar')

        document.addEventListener('mouseup', () => {
          if (!moving) return

          moving = false
          document.body.style.cursor = ''
          document.body.style.userSelect = ''

          bars.forEach((bar, index) => {
            const th = ths[index]
            const nextTh = ths[index + 1]
            th.style.width = th.offsetWidth + 'px'
            bar.style.left = nextTh.offsetLeft - 4 + 'px'
          })
        })

        const cutPx = (str) => +str.replace('px', '')

        const handleResize = (e) => {
          if (moving) {
            const th = ths[movingIndex]
            const nextTh = ths[movingIndex + 1]
            const bar = bars[movingIndex]
            th.style.width = cutPx(th.style.width) + e.movementX + 'px'
            nextTh.style.width = cutPx(nextTh.style.width) - e.movementX + 'px'
            bar.style.left = nextTh.offsetLeft - 4 + e.movementX + 'px'
          }
        }

        resizeContainer.addEventListener('mousemove', handleResize)
        table.addEventListener('mousemove', handleResize)
      }, 200)
    },
  },
}
</script>
<style scoped>
.firts-col {
  width: 1px !important;
  min-width: 1px !important;
  max-width: 1px !important;
}
.table-footer-prepend {
  margin-top: -58px;
  height: 58px;
}
.truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.input-style >>> .v-input__slot::before {
  border-style: none !important;
}
.input-style >>> .v-input__slot::after {
  border-style: none !important;
}
.filter {
  padding-top: 12px;
  padding-left: 12px;
  margin-bottom: -15px !important;
}

.sticky-col {
  position: -webkit-sticky !important;
  position: sticky !important;
  padding-right: 20px !important;
  left: 0;
  z-index: 1;
  background: #fff;
}

.sticky-col-header {
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0;
  z-index: 1;
  background: var(--default-color) !important;
}
</style>

<style>
.v-data-table-header th .theme--light.v-icon {
  color: white !important;
}
.v-data-table-header th .v-input--selection-controls__ripple.green--text {
  color: white !important;
}
.v-data-table-header th {
  text-transform: uppercase;
  background-color: var(--default-color);
  color: white !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.td-border-bottom-mobile {
  border-bottom: 1px solid var(--default-color) !important;
}

.td-border-top-mobile {
  border-top: 1px solid var(--default-color) !important;
}
.color-property-green {
  color: green !important;
}
.selected-item {
  background-color: rgb(178, 182, 178) !important;
}
.select-action {
  margin: 10px 0 0 10px !important;
  width: 60%;
}
.v-small-dialog__activator {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
</style>
