<template>
  <div>
    <v-card>
      <v-card-text>
        <div v-if="tabs.length" class="wrap">
          <v-row align="center" class="links" justify="space-between">
            <v-col v-for="(type, index) in tabs" :key="index" cols="2">
              <v-btn
                :color="index === field ? '#02628e' : 'default'"
                rounded
                block
                dark
                elevation="2"
                x-large
                @click="update(index)"
              >
                {{ type.label }}
              </v-btn>
            </v-col>
          </v-row>
        </div>
        <br />
        <transition
          :name="`slide-fade-${direction}`"
          enter-active-class="slide-fade"
        >
          <div :key="field">
            <slot name="content"></slot>
          </div>
        </transition>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import SVModel from '~/mixins/SVModel'
export default {
  name: 'STabsContent',
  mixins: [SVModel],
  props: {
    tabs: {
      required: true,
      type: Array,
    },
  },
  data: () => ({
    direction: 'left',
  }),
  methods: {
    update(index) {
      const tmp = this.field
      this.direction = tmp < index ? 'left' : 'right'
      this.field = index
    },
  },
}
</script>

<style scoped>
.wrap {
  text-align: center;
  margin: 20px;
  position: relative;
}
.links {
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.wrap::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid black;
  background: black;
  width: 100%;
  transform: translateY(-50%);
}
</style>
