<template>
  <div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th v-for="(header, i) in headers" :key="i">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(items, index) in forms" :key="index">
          <td>
            <v-row no-gutters>
              <v-col v-for="(action, i) in actions" :key="i" :cols="6">
                <v-tooltip bottom>
                  <template #activator="{ on, attrs }">
                    <s-btn-icon
                      small
                      icon
                      :color="action.color"
                      :icon-name="action.icon"
                      v-bind="attrs"
                      v-on="on"
                      @click="handler(action.function, index)"
                    ></s-btn-icon>
                  </template>
                  <span>{{ action.tooltip }}</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </td>
          <td v-for="(item, i) in items" :key="i">
            <div style="min-width: 100px !important">
              <s-form
                no-label
                :readonly="readonly"
                :clearable="clearable"
                :value="forms[index][i]"
                :item="item"
                @input="update(i, $event.target.value)"
              >
                <template v-if="$scopedSlots.append" #append>
                  <slot name="append" :item="item" :index="i"></slot>
                </template>
                <template v-if="$scopedSlots.prepend" #prepend>
                  <slot name="prepend" :item="item" :index="i"></slot>
                </template>
              </s-form>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <slot name="footer" />
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
export default {
  name: 'STableForm',
  props: {
    nameForms: {
      type: String,
      required: true,
    },
    forms: {
      type: Array,
      required: true,
    },
    width: {
      type: Number,
      required: false,
      default: () => 100,
    },
    readonly: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    clearable: {
      required: false,
      type: Boolean,
      default: () => true,
    },
    othersActions: {
      required: false,
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    defaultData: [],
    headers: [],
    slots: [],
    parent: null,
  }),
  computed: {
    actions() {
      return [
        ...this.othersActions,
        {
          icon: 'plus-circle',
          color: 'sblue',
          function: 'addRow',
          tooltip: 'ajouter une ligne',
        },
        {
          icon: 'delete',
          color: 'sred',
          function: 'remove',
          tooltip: 'supprimer la ligne',
        },
      ]
    },
  },
  created() {
    this.defaultData = [...this.forms[0]]
    this.defaultData.forEach((form) => {
      this.headers.push(form.props.label)
      const { props, ...rest } = form
      const { label, ...rest2 } = props
      this.slots.push({
        ...rest,
        props: rest2,
      })
    })
    this.parent = this.$getParent(this.$parent, this.nameForms)
  },
  methods: {
    handler(f, ...params) {
      this[f](...params)
    },
    /**
     * ajoute une ligne de formulaire
     */
    addRow(index) {
      if (index === this.forms.length - 1) {
        const data = this.$arrayCopy(this.forms[0])
        this.$resetForm(data)
        this.parent[this.nameForms].push(data)
        this.$emit('new-row', index + 1)
      }
    },
    /**
     * Supprime une ligne du formulaire
     * @param index
     */
    remove(index) {
      if (this.forms.length > 1) {
        this.parent[this.nameForms].splice(index, 1)
      }
    },
  },
}
</script>

<style scoped>
tfoot td {
  padding-top: 1% !important;
}

thead th {
  background: var(--default-color) !important;
  color: #fff;
  font-size: 13px !important;
  text-transform: uppercase;
}

table {
  white-space: nowrap;
  border-collapse: collapse;
  width: 100% !important;
  display: block !important;
  overflow-y: hidden;
  overflow-x: auto;
}

tbody td {
  text-align: center !important;
  padding: 4px !important;
}

.switch-center {
  display: flex;
  justify-content: center;
}
</style>
