<template>
  <v-tabs
    v-model="ongletSelected"
    slider-color="yellow"
    height="28"
    style="padding-top: 2vh !important"
    background-color="transparent"
  >
    <draggable
      v-model="onglets"
      style="display: flex !important"
      @update="tabUpdate"
    >
      <div
        v-for="(tab, index) in internal ? tabs : onglets"
        :key="index"
        class="background-tab"
      >
        <v-tab class="tab-content" @click="goTo(tab.to)">
          <span class="text-tab">{{ tab.name }}</span>
          <v-btn icon small @click="spliceItem(index, tab.to)">
            <v-icon small right color="white">mdi-close</v-icon>
          </v-btn>
        </v-tab>
      </div>
    </draggable>
  </v-tabs>
</template>

<script>
import draggable from 'vuedraggable'
import { mapMutations } from 'vuex'

export default {
  name: 'STabsDraggable',
  components: {
    draggable,
  },
  props: {
    internal: {
      required: false,
      type: Boolean,
      default: () => true,
    },
    external: {
      required: false,
      type: Boolean,
      default: () => false,
    },
    tabs: {
      required: false,
      type: Array,
      default: () => [],
    },
  },
  computed: {
    onglets: {
      get() {
        return this.$store.state.onglets
      },
      set(value) {
        this.update({
          key: 'onglets',
          value,
        })
      },
    },
    ongletSelected: {
      get() {
        return this.$store.state.ongletSelected
      },
      set(value) {
        this.update({
          key: 'ongletSelected',
          value,
        })
      },
    },
  },
  methods: {
    ...mapMutations(['pushItem', 'removeItem', 'update']),
    /***
     This function is called whenever there is an update
     of drag-n-drop in tabs
     */
    tabUpdate(evt) {
      const oldIndex = evt.oldIndex // Old index number of tab we are moving
      const newIndex = evt.newIndex // New index number of tab we are moving
      /**
       * This is description for each if condition with corresponding number
       * 1. Check if tab moved is the active one
       * 2. Check if tab moved is placed on active tab from right side
       * 3. Check if tab moved is placed on active tab from left side
       * 4. Check if tab moved to right side of active tab
       * 5. Check if tab moved to left side of active tab
       */
      if (this.ongletSelected === oldIndex) {
        this.ongletSelected = newIndex
      } else if (
        this.ongletSelected === newIndex &&
        this.ongletSelected < oldIndex
      ) {
        this.ongletSelected += 1
      } else if (
        this.ongletSelected === newIndex &&
        this.ongletSelected > oldIndex
      ) {
        this.ongletSelected -= 1
      } else if (this.ongletSelected < oldIndex) {
        this.ongletSelected += 1
      } else if (this.ongletSelected > oldIndex) {
        this.ongletSelected -= 1
      }
    },
    /**
     * Permet de fermer un onglet de la navbar
     * @param index
     * @param url
     */
    spliceItem(index, url) {
      if (index === 0 && this.onglets.length === 1) {
        this.$stoast.error('vous ne pouvez pas supprimer le premier onglet')
      } else {
        this.removeItem({ key: 'onglets', index })
        if (this.ongletSelected === index) {
          this.ongletSelected = index - 1
          this.goTo(url)
        }
      }
    },
    /**
     * Redirige l'utilisateur vers la page correspondant à l'onglet cliqué
     * @param name
     * @param params
     */
    goTo(name, params = {}) {
      this.$router.push({ name, params })
    },
  },
}
</script>

<style scoped>
.background-tab {
  background-color: white;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 70%, 90% 0);
  padding: 2px;
  width: 150px;
}
.text-tab {
  width: auto;
  max-width: 100px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-y: hidden;
}
.tab-content {
  color: white !important;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--default-color);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 70%, 90% 0);
}
</style>
