<template>
  <div>
    <v-card>
      <v-card-text>
        <v-row>
          <s-go-back
            v-if="items.length > 0"
            style="margin-left: 10px"
            :to="previous"
          ></s-go-back>
          <!--          <v-breadcrumbs-->
          <!--            v-else-if="items.length > 1"-->
          <!--            :items="items"-->
          <!--            large-->
          <!--          ></v-breadcrumbs>-->
          <h3 class="text-color text-center">
            <slot></slot>
          </h3>
        </v-row>
      </v-card-text>
    </v-card>
    <br />
  </div>
</template>

<script>
import SGoBack from './SGoBack'
export default {
  name: 'STitle',
  components: { SGoBack },
  data: () => ({
    items: [],
    previous: '/',
  }),

  mounted() {
    this.init()
  },

  methods: {
    init() {
      const path = this.$route.fullPath.split('/').filter((value) => !!value)
      path.pop()
      this.previous = path.length ? `/${path.join('/')}/` : '/'
      this.items = path.map((page, i) => ({
        text: page,
        href: `/${path.slice(0, i + 1).join('/')}`,
      }))
    },
  },
}
</script>

<style scoped>
h3 {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
