<template>
  <div>
    <div
      v-for="(toast, i) in toasts"
      :key="i"
      class="custom-dialog"
      :style="{ top: `${10 + i * height}px !important` }"
    >
      <v-alert
        :type="toast.type"
        absolute
        colored-border
        :color="toast.type"
        border="right"
        elevation="2"
        width="500"
        transition="scroll-x-reverse-transition"
      >
        {{ toast.text }}
        <template #close>
          <v-btn icon x-small @click="close(i)">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </template>
      </v-alert>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SToast',
  data: () => ({
    timeout: 5000,
    height: 70,
    toasts: [],
  }),
  created() {
    // intercepte le message 'is-loading' peut importe de où il est émi
    this.$bus.$on('toast', (type, text) => {
      this.toasts.push({
        type,
        text,
      })
      this.removeToast()
    })
  },
  methods: {
    removeToast(i) {
      setTimeout(() => {
        this.toasts.shift()
      }, 4000)
    },
    close(i) {
      this.toasts.splice(i, 1)
    },
  },
}
</script>

<style scoped>
.custom-dialog {
  right: 10px !important;
  position: fixed;
  z-index: 9999;
}
</style>
